<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beach</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

        <section class="packages" id="packages">

            <h1 class="heading">
                <span>p</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <div class="box-container">

                <div class="box">
                    <img src="img/places/beach/blue-ocean-resort.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Blue Ocean </h3>
                        <p>Located on the beach front, over the paradisiacal beaches of white sand and turquoise water
                            of Bavaro, the Ocean Blue & Sand hotel boasts a complete structure perfectly integrated to
                            its setting.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d1" class="btn">visit</a>

                    </div>
                </div>

                <div class="box">
                    <img src="img/places/beach/paradise.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Karnataka </h3>
                        <p>The river cruises start from Tourist Jetty on Mandovi river in Panaji town on Old Panaji
                            Road.
                            Each cruise is triple decked and a lovely panoramic view of the city of Panjim.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d2" class="btn">visit</a>

                    </div>
                </div>

                <div class="box">
                    <img src="img/places/beach/radisson.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Manali </h3>
                        <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj, Dalhousie, Spiti,
                            Kasol.
                            You can see all the places to visit in Himachal pradesh here</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d3" class="btn">visit</a>

                    </div>
                </div>

                <div class="box">
                    <img src="img/places/beach/cherai.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Cherai </h3>
                        <p>Imagine a mix of everything that Cherai has to offer, the beach, the backwaters, the smell of
                            the palm trees, the view of the tall coconut trees and the far-stretched paddy fields all at
                            one place; Cherai Beach Resort is that very place!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d4" class="btn">visit</a>

                    </div>
                </div>

                <div class="box">
                    <img src="img/places/beach/barefoot.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Kodaikanal </h3>
                        <p>Kodaikanal is a hill town in the southern Indian state of Tamil Nadu. It’s set in an area of
                            granite cliffs, forested valleys, lakes, waterfalls and grassy hills.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d5" class="btn">visit</a>

                    </div>
                </div>

                <div class="box">
                    <img src="img/places/beach/taj_fisher.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Delhi </h3>
                        <p>Delhi showcases an ancient culture and a rapidly modernising country. Dotted with monuments
                            there
                            is much to discover here.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d6" class="btn">visit</a>

                    </div>
                </div>
            </div>

        </section>

        <section class="d1" id="d1">
            <h3>HOTELS NEAR Blue Ocean</h3><br>
            <p>If you’re among the one in six Australians to experience the bitter pain of a marine stinger such as a
                bluebottle, you’ll know how quickly they can end a fun day at the beach.

                We can’t stop the summer winds that deliver these creatures to our shores, but we can choose the safest
                spots to swim.

                Our recent research provides the first evidence of what transports bluebottles to Australian beaches.

                We found the direction a beach faces, relative to wind direction, largely determines how many
                bluebottles are pushed to shore. We hope these findings will help beachgoers safely plan where to take
                their next dip.
            </p>
            <br>
            <button onclick="show('read1')" class="btn1">Show</button>
            <div class="read" id="read1">
                <div class="box-container">

                    <div class="box">
                        <img src="img/places/beach/blue-ocean-resort.jpg" alt="">
                        <div class="content">
                            <h1 class="hotel"> Blue Ocean Hotels and Resorts</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Swastik Ave, Chinnadi Kuppam, Injambakkam, Chennai,
                                Tamil Nadu 600014</h3>
                            <p>
                                A minute’s walk from the closest beach along the Bay of Bengal, this casual hotel in a
                                residential neighbourhood is 8 km from
                                Taramani train station and 12 km from Guindy National Park.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d1" class="btn">book</a>

                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/beach/paradise.jpg" alt="">
                        <div class="content">
                            <h1 class="hotel">Blue Bay Beach Resort</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Vadanemilli Village (Before Crocodile Park, SH 49,
                                Mahabalipuram,
                                Tamil Nadu 603104</h3>
                            <p>
                                Overlooking a sandy beach, this straightforward resort is 10 km from DakshinaChitra
                                museum, and a 5-minute walk from
                                The Madras Crocodile Bank Trust and Centre for Herpetology
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d2" class="btn">book</a>

                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/beach/radisson.jpg" alt="">
                        <div class="content">
                            <h3> <i class="fas fa-map-marker-alt"></i> Manali </h3>
                            <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj, Dalhousie,
                                Spiti,
                                Kasol.
                                You can see all the places to visit in Himachal pradesh here</p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d3" class="btn">book</a>

                        </div>
                    </div>

                   

                   
                    </div>
                </div>
            </section>    

                <section class="d2" id="d2">
                    <h3>HOTELS NEAR Mangalore beach</h3><br>
                    <p>Karnataka is a state in southwest India with Arabian Sea coastlines. The capital, Bengaluru
                        (formerly Bangalore), is a high-tech hub known for its shopping and nightlife. To the southwest,
                        Mysore is home to lavish temples including Mysore Palace, former seat of the region’s maharajas.
                        Hampi, once the medieval Vijayanagara empire’s capital, contains ruins of Hindu temples,
                        elephant stables and a stone chariot
                    </p>
                    <br>
                    <button onclick="show('read2')" class="btn1">Show</button>
                    <div class="read" id="read2">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel"> Rahul Residency</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Kodialguttu Road OPP. R.K AUTO WORLD,
                                        575003 Mangalore, India</h3>
                                    <p>
                                        Located in Mangalore in the Karnataka region with Gokarnanatheshwara Temple
                                        nearby, Rahul Residency provides accommodation with free private parking.

                                        Featuring free WiFi, the units have a safety deposit box
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                                   <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Gokarna camping</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Belehittal Road, 581319 Gokarna, India
                                    </h3>
                                    <p>
                                        This property is 1 minute walk from the beach. Gokarna camping is situated in
                                        Gokarna.
                                        A car rental service and a private beach area are available at the camping.
                                        Kārwār is 34 km from Gokarna camping, while Kumta is 17 km from the property.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel"> Sunny's Paradise</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Kudle Beach Road, 581326 Gokarna, India
                                    </h3>
                                    <p>
                                        This property is 2 minutes walk from the beach. Located in Gokarna, Sunny's
                                        Paradise offers a garden. There is a restaurant serving Chinese cuisine, and
                                        free private parking is available.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d3" id="d3">
                    <h3>Manali, Himachal Pradesh
                    </h3><br>
                    <p>Manali is a town in the Indian state of Himachal Pradesh.[2] It is situated in the northern end
                        of the Kullu Valley, formed by the Beas River. The town is located in the Kullu district,
                        approximately 270 kilometres (170 mi) north of the state capital of Shimla and 544 kilometres
                        (338 mi) northeast of the national capital of Delhi. With a population of 8,096 people recorded
                        in the 2011 Indian census Manali is the beginning of an ancient trade route through Lahaul and
                        Ladakh, over the Karakoram Pass and onto Yarkand and Hotan in the Tarim Basin of China. Manali
                        is a popular tourist destination in India and serves as the gateway
                        to the Lahaul and Spiti district as well as the city of Leh in Ladakh.
                    </p>
                    <br>
                    <button onclick="show('read3')" class="btn1">Show</button>
                    <div class="read" id="read3">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Montana Blues Resort</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> MDR 29 MDR29, Prini, Manali, Himachal
                                        Pradesh 175103, 175103 Manāli, India</h3>
                                    <p>
                                        Set in Manāli, 5 km from Hidimba Devi Temple, Montana Blues Resort offers
                                        accommodation with a restaurant, free private parking, a shared lounge and a
                                        garden. Featuring family rooms, this property also provides guests with a
                                        terrace.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel"> Hotel Mountain face by Snow City Hotels</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Near White Meadows Resorts Prini, Manali
                                        Distt. Kullu (H.P.), 175131 Manāli, India</h3>
                                    <p>
                                        Set in Manāli, 5 km from Hidimba Devi Temple, Hotel Mountain face by Snow City
                                        Hotels offers accommodation
                                        with a restaurant, free private parking, a shared lounge and a garden
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Hotel Mountain Top</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Near Hadimba Temple, 175131 Manāli, India
                                    </h3>
                                    <p>
                                        Featuring free WiFi throughout the property, Hotel Mountain Top is situated in
                                        Manali, 200 m from Hidimba Devi Temple.
                                        The hotel has a sun terrace and views of the mountain.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d4" id="d4">
                    <h3>HOTELS IN Cherai</h3><br>
                    <p>smallest town located in north side of Vypin island. This town connects to kochin, North pravur
                        and Kodungallur. It is a region in Kochi Taluk, a suburb of the city of Kochi, in the state of
                        Kerala, India. It is at a distance of about 22.6km from the
                        High Court Junction, Kochi. Cherai has the longest beach in Kochi - the Cherai beach. The beach
                        is located towards the centre-north of the Vypin island.

                        The Cherai Beach is 10 km long.[citation needed] Dolphins are occasionally seen here.

                        Cherai has played an important role in the history of modern Kerala by becoming the birthplace
                        of two prominent political personsages of modern Kerala - Mathai Manjooran and Sahodaran
                        Ayyappan.

                        Cherai Gowreeshwara Temple is one of the main Hindu temples. The temple is maintained by Vijnana
                        Vardhini Sabha (V. V Sabha). It also known as Kerala palani. The festival in the temple is the
                        biggest festival in Eranakulam district. The festival happens every year towards the last 2
                        weeks of January or first 2 weeks of February.
                    </p>
                    <br>
                    <button onclick="show('read4')" class="btn1">Show</button>
                    <div class="read" id="read4">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel"> Cherai Natural Beach</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Cherai Beach Road, Cherai, Kochi, Kerala,
                                        683514 Cherai Beach, India</h3>
                                    <p>
                                        his property is 1 minute walk from the beach. Cherai Natural Beach offers
                                        accommodation in Cherai. The property is near to Cherai Beach Road, Vypeen
                                        Island.
                                        It is 30 km from Ernakulam, and 35 km from Cochin International Airport.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel"> Petit Elephant
                                    </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Petit Elephant</h3>
                                    <p>
                                        Situated in Cherai Beach, Petit Elephant offers beachfront accommodation less
                                        than
                                        1 km from Cherai Beach and features various facilities, such as a garden and a
                                        terrace.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Sapphire Club Cherai Beach Villa</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Cherai Beach - Munambam Rd, Cherai Beach ,
                                        Kerala 683515, 683515 Cherai Beach, India</h3>
                                    <p>
                                        This property is 1 minute walk from the beach. Located in Cherai Beach, less
                                        than 1 km from Cherai Beach, Sapphire Club Cherai Beach Villa features
                                        accommodation with free WiFi and free private parking
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d5" id="d5">
                    <h3>HOTELS IN Kodaikanal</h3><br>
                    <p>It is not known who first used this name or what they intended it to mean.

                        The word Kodaikanal is an amalgamation of two words: kodai and kanal. The Tamil language has at
                        least four possible interpretations of the name Kodaikanal. By pronouncing the first syllable of
                        Kodaikanal with a long Tamil 'O', as in koe-dei (கொடை), it means "summer", whilst the final two
                        syllables kanal (காணல்) means "to see", rendering Kodaikanal as a "place to see in summer".
                        Kodaikanal is a summer forest, and it is a place that the first missionaries used as a refuge to
                        escape the overbearing and mosquito-ridden heat of the plains – a place that they would have
                        counted on seeing in the summer.


                        Suicide Point, Kodaikanal
                        Kanal, in Tamil, can mean dense or closed forest. In this case, Kodai can have at least four
                        meanings. By pronouncing Kodai with the long Tamil 'o' and short 'e', Ko-dai means "the end".
                        Kodaikanal could mean "the end of the forest" which makes poetic and geographical sense –
                        Kodaikanal is at the crown of the Palani Hills and is effectively surrounded and protected by
                        thick forests
                    </p>
                    <br>
                    <button onclick="show('read5')" class="btn1">Show</button>
                    <div class="read" id="read5">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">FabHotel Tranquil Heights Kodaikanal</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> W5/935, E.C.C Road, Thiruvalluvar Nagar,
                                        Naidupuram,, 624101 Kodaikānāl</h3>
                                    <p>
                                        Located in Kodaikānāl, within 2.3 km of Bear Shola Falls and 2.6 km of
                                        Kodaikanal Lake, FabHotel Tranquil Heights Kodaikanal provides accommodation
                                        with a garden and free WiFi
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">JC Woodville Manor</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Opp Bus Stand, Woodville Road, , 624101
                                        Kodaikānāl, India </h3>
                                    <p>
                                        A 2-minute walk from Coakers Walk and Bryant Park, JC Woodville Manor offers a
                                        peaceful retreat in Kodaikkanal.
                                        It features free parking, a 24-hour front desk and rooms with a TV..
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">FabHotel Roshan Residency Naidupuram </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> No-2, Villpatty Road Naidupuram,, 624101
                                        Kodaikānāl, India</h3>
                                    <p>
                                        Situated in Kodaikānāl, within 1.6 km of Bear Shola Falls and 2 km of Kodaikanal
                                        Lake, FabHotel Roshan Residency Naidupuram features accommodation with a shared
                                        lounge and free WiFi
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d6" id="d6">
                    <h3>HOTELS NEARSANGWAN BEACH</h3><br>
                    <p>A boulder conglomeration is situated on the coast of Sangwan, and the beach is covered in grainy
                        ivory-colored sand. The beach's infrastructure is well-developed. There are sunbeds and
                        umbrellas (they cost 100 Thai baht), showers and toilets. The descent is smooth, the sea bottom
                        is sandy, no waves can be seen. A cafe that serves Thai and European meals and fast food
                        operates on the slope of the hill. The simplest meal costs 150 Thai baht. The food can't be
                        served to the beach. The beach is perfect for swimming and sunbathing.
                        You can safely bring your children. Sangwan Beach is mostly uncrowded, even during the busiest
                        days for Tawaen
                    </p>
                    <br>
                    <button onclick="show('read6')" class="btn1">Show</button>
                    <div class="read" id="read6">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Le Bliss Hotels Near Rock Beach</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Naga Progress Avenue, Bussy St,
                                        Puducherry, 605001</h3>
                                    <p>
                                        On a tree-lined main road with shops and businesses, this laid-back hotel is 7
                                        minutes on foot from Puducherry train station and a 14-minute walk from
                                        Promenade Beach, a rocky shoreline.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">TE Seaview Resorts </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> No. 5, Thandirayankuppam, Kottakuppam,
                                        Near, Puducherry, 605104</h3>
                                    <p>
                                        No. 5, Thandirayankuppam, Kottakuppam, Near, Puducherry, 605104
                                        097517 00057
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Kempinski Ambience Hotel</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i>Shahdara, India</h3>
                                    <p>
                                        Experience the new symbol of majestic modern lighting in one of the oldest
                                        capital cities in the world, where India’s newest landmark is born with
                                        Kempinski Ambience Hotel Delhi.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                                </div>
                            </div>
                        </div>
                </section>



                <%- include('footer'); %>

                    <!-- footer section ends -->

                    <!-- custom js file link  -->
                    <script src="js/script.js"></script>
</body>

</html>