<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rural tourism</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js/script.js"></script>

</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>
    <section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>
        <h2>FEW DESTINATIONS FOR RURAL TOURISM IN INDIA</h2>

        <div class="box-container">

            <div class="box">
                <img src="img/images/puthur.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Puttur, Andhra Pradesh </h3>
                    <p>This small village in Andhra Pradesh is popular for its agriculture, mangroves and the prominent
                        silk business.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d1" class="btn">visit</a>
                </div>
            </div>

            <div class="box">
                <img src="img/images/thert.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Theerthamalai, Tamil Nadu </h3>
                    <p>The name of the village translates to mean ‘The Hill of holy Water' and has a
                        temple that dates back to the 7th century.
                        Enjoy the calm and quiet that only such villages can provide.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d2" class="btn">visit</a>
                </div>
            </div>

            <div class="box">
                <img src="img/images/shyam gaon.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Shyam Gaon, Assam </h3>
                    <p>The small Buddhist locality in Jorhat district known as Shyam Gaon can provide an interesting
                        rural journey in Assam.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d3" class="btn">visit</a>
                </div>
            </div>

            <div class="box">
                <img src="img/images/chitrakote.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Chitrakote, Chhattisgarh </h3>
                    <p>Popular for the folk arts and handicrafts that are made in the
                        village, Chitrakote is also popular for the Chitrakoot waterfalls.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d4" class="btn">visit</a>
                </div>
            </div>

            <div class="box">
                <img src="img/images/lachen.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Lachen, Sikkim </h3>
                    <p>This is a small village that is set against a backdrop of snow-capped mountains and conifer
                        trees.

                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d5" class="btn">visit</a>
                </div>
            </div>

            <div class="box">
                <img src="img/images/hodka.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Hodka, Gujarat</h3>
                    <p>The village located in the Kutch or Kachchh district of Gujarat is a beautiful place that has a
                        mix of both the desert of clay and sand that makes the region so unique. </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d6" class="btn">visit</a>
                </div>
            </div>
        </div>
        <br>
        <h3>You can explore about rural india <a
                href="https://www.tripsavvy.com/rural-india-tourism-ideas-1539791">here</a></h3>
        <hr>
    </section>


    <section class="d1" id="d1">
        <h3>HOTELS NEAR PUTHUR</h3><br>
        <p>This Small Village In Andhra Pradesh at a distance of 30km from Tirupati Is Popular For Its Agriculture,
            Mangroves And The Prominent Silk
            Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The Silk
            Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little Village.
            To visit: Kailasakona Water falls, Swayambu Temple, Horsley Hills, Nagalampur Falls
        </p>
        <br>
        <button onclick="show('read1')" class="btn1">Show Hotels</button>
        <div class="read" id="read1">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/park_krishna.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel Park Krishna</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Tirupati</h3>
                        <p>
                            The property has well furnished rooms with amenities like air conditioner, television, daily
                            newspaper and intercom facility. Room service is available round the clock for the
                            convenience of the guest.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/mountview.jpg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel MountView Comforts</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Tirupati</h3>
                        <p>
                            The rooms are fitted with air conditioning, a flat-screen TV with satellite channels, a
                            kettle, a hair dryer, a shower.
                            ->1.2miles from Padmavati Ammavari Temple and 7.5miles from tirupati airport
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/spring.jpg" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Spring Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Tiruchanur</h3>
                        <p>
                            Rooms with 24 hour room services with all facilities. Restaurant and coffee shop near the
                            hotel.
                            ->Near Govindaraja temple, 3.8km from tirupati railway station
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d2" id="d2">
        <h3>HOTELS NEAR THEERTHAMALAI</h3><br>
        <p>Theerthamalai, a popular pilgrim centre and it is 16 km from Harur in Dharmapuri district of Tamil Nadu is an
            emerging destination for rural tourism
            in the country. It is well connected through roads and highway.
        </p>
        <br>
        <button onclick="show('read2')" class="btn1">Show Hotels</button>
        <div class="read" id="read2">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/comfort.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel Comfort Inn</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Tiruvennanallur</h3>
                        <p>
                            Comfort Inn works on the Ideaof Indulgence with luxury attached to it. The property is
                            always irresistible,an exclusive haven of solitude and luxury in the Tamilnadu's Temple
                            city,offers travelers a new level of comfort with distinctive personal touch.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/pkp.jpg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel PKP GRAND</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Dharmapuri</h3>
                        <p>
                            Its location in the city gives you an ease to go to any part of the city by all kinds of
                            transport facilities. Hotel located 160 m from the Dharmapuri Bus Stand and 1.5 Km from
                            Dharmapuri Railway Station. It is well equipped with all facilities. Moreover it is 6min
                            drive to Theerthagiriswarar temple.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/sr.jpg" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Hotel SR Park</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> kallakkurichi</h3>
                        <p>
                            Hotel SR Park is located at a distanceof just 500 meters from the bus stand and 16 km from
                            the railway station. Itfeatures 24-hour room service, front desk and a coffee shop.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d3" id="d3">
        <h3>HOTELS NEAR SHYAM GAON</h3><br>
        <p>
            India is an interesting country, where culture and traditions change
                        every few hundred meters. The Shyam Gaon is one such village, where the local Khamyang tribals
                        are followers of Theravada Buddhism.
            The Chalapothar Shyam Gaon is a tourist attraction in Sivasagar which forms a part of the sightseeing tour of
            the city. It is the oldest Buddhist temple in the state being located in the Moniting area. This village is
            mainly populated by the Khamyang people of Assam.
        </p>
        <br>
        <button onclick="show('read3')" class="btn1">Show Hotels</button>
        <div class="read" id="read3">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/heritage.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel Heritage</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Jorhat</h3>
                        <p>
                            Well maintained fully air conditioned rooms. COVID protocols are being strictly followed. It
                            is located at 6km from Jorhat airport.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/gibbon.jpg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">GIBBON ECO CAMP</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Jorhat</h3>
                        <p>
                            It is a 9min drive to the Hoollongapar Gibbon Sanctuary. It is surrounded by many
                            restaurants and cafes. Moreover the hotel is very hygenic with COVID protocols being
                            followed.
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/harmony.jpg" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Wooden Harmony Homestay</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Jorhat</h3>
                        <p>
                            24 hour room service with great proximity for restaurants and airport access.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d4" id="d4">
        <h3>HOTELS IN CHITRAKOTE</h3><br>
        <p>The tribes of India present interesting opportunities to learn about colourful cultures and a way
            of life far removed from the rest of the country. Chitrakote is one such village located in the
            Bastar district of Chhattisgarh. You can also visit the
            Jagdalpur Palace and Danteshwari temple located here.
        </p>
        <br>
        <button onclick="show('read4')" class="btn1">Show Hotels</button>
        <div class="read" id="read4">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/river front.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">The River Front Resort</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Chitrakoot</h3>
                        <p>
                            Many sightseeing spots around with a few restaurants around.Refreshing River view from
                            room.Best room service.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/mank.jpg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel Mandakini</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Chitrakoot</h3>
                        <p>
                            This hotel offers a wide range of services from room-services to dining to the customers.And
                            follows COVID protocols strictly.
                            It is located very near to bus complex.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/bindiram.JPG" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Hotel Bindiram</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Chitrakoot</h3>
                        <p>
                            Surrender your mind & soul to the piousness of Kamadgiri, the mysticism of Gupt-Godavari,
                            the rich verdure of Hanuman Dhara & the historical Ram Shaiya with your holiday at Bindiram
                            by ShriGo Hotels in Chitrakoot.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d5" id="d5">
        <h3>HOTELS IN LACHEN</h3><br>
        <p>The village that has only recently thrown open the doors to travellers, is a pristine and
            unexplored landscape. Get a taste of the simple life of the village folk, take a trip to the
            Lachen Gommpa and enjoy treks and walks in the surrounding regions.The locals are friendly and
            social, so you are sure to find good company in them!
        </p>
        <br>
        <button onclick="show('read5')" class="btn1">Show Hotels</button>
        <div class="read" id="read5">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/delight.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Delight Royal Lachen</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Lachen</h3>
                        <p>
                            Pleasant atmosphere surrounded by nature with full greenery.24 hours room service, dine in
                            also available.COVID protocols are strictly followed by the management.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/fortuna.jpeg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Delight the Fortuna</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Lachen</h3>
                        <p>
                            The magnificent stay sits amid wooden houses and picturesque vistas.A team of well-trained,
                            warm and helpful staff attends to guests.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/deezong.jpg" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Lachen Deezong</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Lachen</h3>
                        <p>
                            Hotel maintains high standards of safety and hygenic environment makes it the best. Also all
                            the amenities are provided by the management.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="d6" id="d6">
        <h3>HOTELS NEAR HODKA</h3><br>
        <p>The village located in the Kutch or Kachchh district of Gujarat is a beautiful place that has a
            mix of both the desert of clay and sand that makes the region so unique. The region has a
            diverse eco-system, with the wetlands providing home to over 100 species of birds during the
            winter months.You can also take part in the celebrations of Sharad Utsav that is celebrated
            during the period of Navaratri.
        </p>
        <br>
        <button onclick="show('read6')" class="btn1">Show Hotels</button>
        <div class="read" id="read6">
            <div class="box-container">
                <div class="box">
                    <img src="img/places/countryside/zeel.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Hodka Zeel Resort</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Hodka</h3>
                        <p>
                            Hodka Zeel is situated in Hodka village, 20 K.M. distance from Tent City of Kutch Rann Utsav
                            surrounded by an area of impressive natural beauty, an ideal location from which to discover
                            the captivatin lands of Kutch.Our cottage are meticulously constructed in the traditional
                            way.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹1200.00 <span>₹1900.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/homestay.jpg" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Rann bhumi homestay resort</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Hodka</h3>
                        <p>
                            Hotel provides wide range of amenities. They treat customers with a great hospitality. The
                            place is built in traditional way using mud and clay.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹2200.00 <span>₹2500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
                <div class="box">
                    <img src="img/places/countryside/dharani.jpg" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Dharani Village Resort</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Hodka</h3>
                        <p>
                            With great room service and their hospitality we forget everything and relax. Quarantine
                            protocols are being followed as per local government authorities.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">₹4000.00 <span>₹4500.00</span></div>
                        <a href="book" class="btn">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('footer'); %>


    <!-- footer section ends -->
</body>

</html>