<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultural</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

        <section class="packages" id="packages">

            <h1 class="heading">
                <span>p</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <h2>FEW PLACES THAT DEFINE INDIA'S CULTURAL HERITAGE</h2>

            <div class="box-container">

                <div class="box">
                    <img src="img/places/cultural/goldentemp.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Amritsar: The Golden City </h3>
                        <p>Amritsar is undoubtedly the heart of the Sikh culture in the country where Golden temple is
                            located.Amritsar has many gurudwaras, museums and cultural places that make it one of the
                            best
                            places to experience the Sikh culture. </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d1" class="btn">visit</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/cultural/hampi.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Hampi: Ancient Kingdom Of Vijaynagar </h3>
                        <p>Hampi is a UNESCO world heritage site situated at the Northern part of Karnataka.
                            This place is famous for Virupaksha temple and holding the ruins of the ancient kingdom of
                            Vijaynagar. </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d2" class="btn">visit</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/cultural/lucknow.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Lucknow: The City Of The Nawabs </h3>
                        <p>With an architecture that is heavily influenced by the Mughals, the Delhi Sultanate, the
                            Nawabs
                            of Awadh and the British, you can imagine how magnificent the heritage and culture of
                            Lucknow
                            is.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d3" class="btn">visit</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/cultural/kolkata.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Kolkata: The City Of Joy </h3>
                        <p>From the influence of the Nawabs of Bengal to the cultures set by the East India Company, the
                            city of Kolkata has witnessed a tremendous cultural shift and emerged to have one of the
                            most
                            notable literary-rich crowd.Victoria Memorial, Howrah Bridge, Indian Museum, and St. Paul’s
                            Cathedral are the most prominent tourist places in Kolkata.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d4" class="btn">visit</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/cultural/kerala.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Kerala: God’s Own Country </h3>
                        <p>The diverse culture of Kerala is a blend of Aryan & Dravidian cultures, with influences drawn
                            time-and-again from other Indian & international places. Hinduism, Islam, and Christianity
                            have
                            contributed majorly to the architecture, the rituals & customs, the performing arts, and the
                            festivals of Kerala.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d5" class="btn">visit</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/cultural/hyd.jpg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Hyderabad: The City Of Nizams </h3>
                        <p>Hyderabad, established in 1591 was ruled by Sultans, Mughals, & Nizams before becoming a
                            Princely
                            State under the British Raj. The region
                            was previously under the ancient kingdoms of Chalukyas and Kakatiyas. The city’s
                            architecture is
                            richly influenced by all these cultures.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d6" class="btn">visit</a>
                    </div>
                </div>
            </div><br>
            <h3>You can know about few more places <a
                    href="https://traveltriangle.com/blog/places-of-indian-cultural-heritage/">here</a></h3>

        </section>


        <section class="d1" id="d1">
            <h3>HOTELS IN AMRITSAR</h3><br>
            <p>Amritsar is the largest and most important city in Punjab and is a major commercial, cultural, and
                transportation centre.The exquisite and delicious cuisine available in Amritsar are known for their
                taste.
                <br> ->Places to visit: Sri Harmandir Sahib (Golden Temple), Jallianwala Bagh, and Wagah Border are the
                most
                popular places to visit in Amritsar.
            </p>
            <br>
            <button onclick="show('read1')" class="btn1">Show Hotels</button>
            <div class="read" id="read1">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/shiraz.jpg" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Hotel Shiraz Continental</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Amritsar</h3>
                            <p>
                                Make yourself at home in one of the 32 air-conditioned rooms featuring LCD televisions.
                                Complimentary wireless Internet access keeps you connected. Take advantage of the
                                hotel's
                                24-hour room service. Breakfast is available for free.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/regenta.jpg" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Regenta Central Amritsar</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Amritsar</h3>
                            <p>
                                Located in the heart of Amritsar, this luxurious hotel features comfortable rooms, a
                                well-equipped gym, a full-service spa and a host of upscale amenities. Spend some
                                peaceful
                                time at Shri Harmandir Sahib which is 5 km away.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/bloom.jpg" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Bloom Boutique</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Settled in the heart of the emblematic city of Amritsar - revered as the land of
                                Sikhism's
                                holiest shrine, as well as known for creating its own culinary masterpieces, bloom
                                Boutique
                                is placed in the nearest block to reach the iconic Wagah border.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d2" id="d2">
            <h3>HOTELS IN HAMPI</h3><br>
            <p>
                Hampi is a breathtaking heritage site that primarily holds the buidings and the ruins of ancient kingdom
                of
                Vijaynagar. Interestingly, these ruins of Hampi are considered to be a vast collection of heritage sites
                which reflects the Dravidian style of art and architecture.
                <br>->Places to visit: Krishna Temple complex, Narsimha, Ganesh, Hemakuta group of temples, Vitthala
                temple
                complex, Pattabhirama temple complex, Lotus Mahal complex
            </p>
            <br>
            <button onclick="show('read2')" class="btn1">Show Hotels</button>
            <div class="read" id="read2">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/clark.jpg" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Clark's inn Hampi</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Kamalapur</h3>
                            <p>
                                Clarks Inn is an elegant hotel that is classy in interiors, mod in amenities, and
                                affable in
                                hospitality. Clarks Inn is an elegant hotel that is classy in interiors, mod in
                                amenities,
                                and affable in hospitality.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/heritage.jpg" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Heritage Resort Hampi</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Hampi</h3>
                            <p>
                                De-stress and detox your body with holistic treatments and indigenous therapies at the
                                on-site spa. Thrill your taste buds with global cuisine at the in-house Kishkinda
                                Restaurant.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/malligi.jpg" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Hotel Malligi Hampi</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Hampi</h3>
                            <p>
                                Free internet with fully air conditioned rooms maintained in a full hygenic environment.
                                COVID protocols being followed strictly. 24 hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d3" id="d3">
            <h3>HOTELS NEAR LUCKNOW</h3><br>
            <p>Lucknow, the capital of Uttar Pradesh, is ranked high among the places to experience Indian culture and
                heritage. The city boasts of a distinctive culture due to the amalgamation of Hindu & Muslim
                cultures.Lucknow's Exquisite Artwork And Takes On Craftsmanship Further Add Its The City's Charm And Its
                Cultural Heritage.Perhaps That Is Why It Is Also Called The Land Of Nawabs!<br> ->Places to visit: Bara
                Imambara, Chhota Imambara, Rumi Darwaza, Dilkusha Kothi, and British Residency Complex are the most
                popular tourist places in Lucknow.
            </p>
            <br>
            <button onclick="show('read3')" class="btn1">Show Hotels</button>
            <div class="read" id="read3">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/radison.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Radisson Lucknow City Center</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Lucknow</h3>
                            <p>
                                The outdoor pool and the premium spa make perfect venues for relaxation.
                                The all-day dining multi-cuisine restaurant offers a delightful dining experience.
                                Charbagh Railway Station is only 2.7 km away from the property.

                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/casa.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Hotel Casa Aishbagh</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Lucknow</h3>
                            <p>
                                Strategically located in-between the airport and the railway station, Casa Aishbagh is a
                                new boutique hotel that has 17 luxurious rooms and 1 spacious suite. The sprawling
                                5-acre property has many gardens and amenities for its customers.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/tulip.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Golden Tulip</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Lucknow</h3>
                            <p>
                                The Lucknow Railway Station is only 2 km away from the hotel.
                                The Sahara Ganj Shopping Mall is 2 km away from the hotel.
                                The in-house restaurant offers delicious multi cuisines.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d4" id="d4">
            <h3>HOTELS IN KOLKATA</h3><br>
            <p>The region that passed on from the hands of the Nawabs of Bengal to those of the earliest British
                representatives of the East India Company is often tagged as the Cultural Capital of India. This
                heritage city of India is also known to be the birthplace of urban Indian culture & literary thought and
                a majority of India's notable literary figures stemmed from here.<br>
                ->Places to visit : Victoria Memorial, Howrah Bridge, Indian Museum, and St. Paul’s Cathedral are the
                most prominent tourist places in Kolkata.
            </p>
            <br>
            <button onclick="show('read4')" class="btn1">Show Hotels</button>
            <div class="read" id="read4">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/plat.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Hotel Platinum</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Kolkata</h3>
                            <p>
                                We aim to offer you comfortable surroundings,
                                great food and excellent service to make your stay truly enjoyable.Luggage storage along
                                with 24-hour reception, and room service.Visitors
                                can explore the must see attractions of the city and dig into famous Bengali cuisines.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/fair.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Fairfield by Marriott</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Kolkata</h3>
                            <p>
                                Fairfield has a restaurant, outdoor swimming pool,
                                a fitness centre and bar. With free WiFi, this
                                hotel offers a shared lounge and a concierge service.Swim a few laps in the sparkling
                                swimming pool.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/kzar.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Kzar Corporate</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Lucknow</h3>
                            <p>
                                Offering an outdoor pool, a spa and 24-hour room service the customers are much
                                satisfied and relaxed leaving all their tensions behind.
                                Free wife, air-contioned rooms and cafe are available.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d5" id="d5">
            <h3>HOTELS IN KOCHI</h3><br>
            <p>The ancient Malayalam literature and the folklores of the state show influences from local traditions,
                customs, and rituals. There are several dance forms in Kerala – Kathakali, Krishnanattam, Mohiniyattam,
                Thullal, Koodiyattam, Kolkali, Thiruvathirakali, Kakkarissi Natakom, Oppanna, and Chavittunatakam. Music
                forms such as Panchavadyam, Nadanpattu, and Omanathinkal Kidavo also evolved in Kerala.
            </p>
            <br>
            <button onclick="show('read5')" class="btn1">Show Hotels</button>
            <div class="read" id="read5">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/trio.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">The Trios Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Kochi</h3>
                            <p>
                                Hotel Trios is a boutique business hotel situated in the heart of Ernakulam kochi city.
                                Easily reachable from the Railway stations and bus stations. Hotel Trios offers
                                comfortable to stay to the business traveler and leisure traveler.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/blu.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Radisson Blu Kochi</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Kochi</h3>
                            <p>
                                Rejuvenate your mind and body with holistic therapies at the on-site spa.
                                Enjoy the property's close proximity to Ernakulam Junction Railway Station which is 3.3
                                km away.
                                Enjoy a refreshing swim in the sparkling swimming pool.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/has.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Hotel Aiswarya</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                The hotel is easily accessible from Ernakulam Junction (850 m).
                                Guests can enjoy delicious food and complimentary breakfast at the in-house restaurant.
                                Popular tourist sites like the Murugan Temple (700 m) are within proximity of the hotel.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d6" id="d6">
            <h3>HOTELS IN HYDERABAD</h3><br>
            <p>The city’s architecture is richly influenced by the cultures of Kakatiyas, Chalukyas, Nawabs and even
                british. And then there are literary arts, craftsmanship, handicrafts, paintings, dances, theatres, and
                dishes that make the city one of the must-visit places to experience Indian culture and heritage.
                <br>->Places to visit: Golconda Fort, Char Minar, Hussain Sagar, and Salar Jung Museum
            </p>
            <br>
            <button onclick="show('read6')" class="btn1">Show Hotels</button>
            <div class="read" id="read6">
                <div class="box-container">
                    <div class="box">
                        <img src="img/places/cultural/lemon.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Lemon Tree Premier</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Enjoy the stunning views of the city while you swim in the rooftop swimming pool.
                                Savour your taste buds with delectable dishes from multiple cuisines at the in-house
                                restaurants.
                                Feel revitalised with aromatherapies and full-body massages at the in-house spa.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/manohar.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">The Manohar</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Take refreshing dips in the outdoor swimming pools, one of which comes with an inbuilt
                                jacuzzi.
                                Enjoy the stunning views of the vibrant Begumpet and towering buildings from the comfort
                                of your rooms.
                                Relish multi-cuisine dishes in a lavish spread of breakfast, lunch and dinner offered at
                                the in-house coffee shop.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/places/cultural/park.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Park Continental Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Uncover a perfect vacation filed with luxurious hospitality at extremely affordable
                                prices at Park Continental, Hyderabad.
                                Head to the Banjara hillsat a short 5.7 km distance.
                                Shop at the City Center Mall at 3 km from the property.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer'); %>


            <!-- footer section ends -->
</body>

</html>