<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desert</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

        <section class="packages" id="packages">

            <h1 class="heading">
                <span>p</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <div class="box-container">

                <div class="box">
                    <img src="img/places/desert/1.SAHARA DESERT.jpeg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Sahara desert </h3>
                        <p>The Sahara is a desert on the African continent. With an area of 9,200,000 square kilometres,
                            it is the largest hot desert in the world and the third largest desert overall, smaller only
                            than the deserts of Antarctica and the northern Arctic.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d1" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/desert/2. GOBI DESERT.jpeg">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Gobi Desert </h3>
                        <p>The Gobi Desert is a vast, arid region in northern China and southern Mongolia. It's known
                            for its dunes, mountains and rare animals such as snow leopards and Bactrian camels. In the
                            Gobi Gurvansaikhan National Park, the Khongoryn Els sand dunes are said to sing when the
                            wind blows. The park also features…</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d2" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/desert/3. Kalahari desert.jpeg">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Kalahari desert </h3>
                        <p>The Kalahari Desert is a large semi-arid sandy savanna in Southern Africa extending for
                            900,000 square kilometres, covering much of Botswana, and parts of Namibia and South Africa.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d3" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/desert/Thar desert.jpeg">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Thar desert</h3>
                        <p>The Thar Desert, also known as the Great Indian Desert, is a large arid region in the
                            northwestern part of the Indian subcontinent that covers an area of 200,000 km² and forms a
                            natural boundary between India and Pakistan. It is the world's 20th-largest desert, and the
                            world's 9th-largest hot subtropical desert.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d4" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/desert/5. Namib desert.jpeg">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Namib desert </h3>
                        <p>The Namib Desert is believed to be the world's oldest desert and it has been arid for at
                            least 55 million years (Barnard 1998). The convergence of the Benguela upwelling and the hot
                            interior have maintained, and perhaps increased this aridity in recent times, but they did
                            not generate the aridity</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d5" class="btn">book now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/desert/6 . Atacama desert.jpeg" alt="">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Atacama desert </h3>
                        <p>The Atacama Desert is the driest nonpolar desert in the world, as well as the only true
                            desert to receive less precipitation than the polar deserts and the largest fog desert in
                            the world. Both regions have been used as experimentation sites on Earth for Mars expedition
                            simulations..</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d6" class="btn">book now</a>
                    </div>
                </div>

                <!-- <div class="box">
                <img src="img/places/desert/7. Mojave desert.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Mojave desert </h3>
                    <p>The Mojave Desert is a xeric desert in the rain shadow of the Sierra Nevada mountains in the Southwestern United States. It is named for the indigenous Mojave people. It is located primarily in southeastern California and southwestern Nevada, with small portions extending into Arizona and Utah.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d7" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/desert/8. Great Victoria desert.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Great Victoria desert </h3>
                    <p>The Great Victoria Desert is the largest desert in Australia. It consists of sand dunes, small sandhills, grassland plains, areas with closely packed pebbles (called desert pavement or gibber plains) and salt lakes. The desert is an Australian IBRA..</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d8" class="btn">book now</a>
                </div>
            </div> -->

        </section>


        <section class="d1" id="d1">
            <h3>HOTELS NEAR SAHARA DESERT</h3><br>
            <p>The Sahara covers large parts of Algeria, Chad, Egypt, Libya, Mali, Mauritania, Morocco, Niger, Western
                Sahara, Sudan and Tunisia. It covers 9 million square kilometres (3,500,000 sq mi), amounting to 31% of
                Africa. If all areas with a mean annual precipitation of less than 250 mm were included, the Sahara
                would be 11 million square kilometres (4,200,000 sq mi). It is one of three distinct physiographic
                provinces of the African massive physiographic division.

                The Sahara is mainly rocky hamada (stone plateaus); ergs (sand seas – large areas covered with sand
                dunes) form only a minor part, but many of the sand dunes are over 180 metres (590 ft) high.[9] Wind or
                rare rainfall shape the desert features: sand dunes, dune fields, sand seas, stone plateaus, gravel
                plains (reg), dry valleys (wadi), dry lakes (oued), and salt flats (shatt or chott).[10] Unusual
                landforms include the Richat Structure in Mauritania.

                Several deeply dissected mountains, many volcanic, rise from the desert, including the Aïr Mountains,
                Ahaggar Mountains, Saharan Atlas, Tibesti Mountains, Adrar des Iforas, and the Red Sea Hills. The
                highest peak in the Sahara is Emi Koussi, a shield volcano in the Tibesti range of northern Chad.
            </p>
            <br>
            <button onclick="show('read1')" class="btn1">Show</button>
            <div class="read" id="read1">
                <div class="box-container">

                    <div class="box">
                        <img src="img/places/desert/palm Beach HOTEL.jpg" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Palm Beach Palace Tozeur</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Sahara Desert</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d1" class="btn">see more</a>
                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/desert/Hotel Ras El Ain Tozeurl.jpg" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Hotel Ras El Ain Tozeurl</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Sahara Desert
                                <p>
                                    0.6 km from Sahara Desert
                                    Nestling in a magnificent garden facing Tozeur's palm oasis, beside the majestic
                                    lanscapes of the desert, the Golden Yasmin Ras El Aïn promises a cool and
                                    comfortable stay in the heart of the Tunisian south.
                                </p>
                                <div class="stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>

                                </div>
                                <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                                <a href="#d2" class="btn">see more</a>
                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/desert/3. Kalahari desert.jpeg">
                        <div class="content">
                            <h1 class="hotel">Anantara Sahara Tozeur Resort & Villas</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Sahara Desert</h3>
                            <p>
                                Head to the desert for stillness, adventure and breathtaking beauty. Anantara Sahara
                                Tozeur Resort & Villas is your luxurious gateway to the majesty of the Sahara. Wake up
                                to desert sunrises from the privacy of your pool villa.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>

                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d3" class="btn">see more</a>
                        </div>
                    </div>


                </div>

        </section>




        <section class="d2" id="d2">
            <h3>HOTELS NEAR Gobi Desert</h3><br>
            <p>The Gobi measures more than 1,600 km (1,000 mi) from southwest to northeast and 800 km (500 mi) from
                north to south. The desert is widest in the west, along the line joining the Lake Bosten and the Lop Nor
                (87°–89° east).[2] In 2007, it occupied an arc of land[3] in area.

                In its broadest definition, the Gobi includes the long stretch of desert extending from the foot of the
                Pamirs (77° east) to the Greater Khingan Mountains, 116–118° east, on the border of Manchuria; and from
                the foothills of the Altay, Sayan, and Yablonoi mountain ranges[2] on the north to the Kunlun,
                Altyn-Tagh, and Qilian mountain ranges, which form the northern edges of the Tibetan Plateau, on the
                south.[4]

                A relatively large area on the east side of the Greater Khingan range, between the upper waters of the
                Songhua (Sungari) and the upper waters of the Liao-ho, is reckoned to belong to the Gobi by conventional
                usage. Some geographers and ecologists prefer to regard the western area of the Gobi region (as defined
                above): the basin of the Tarim in Xinjiang and the desert basin of Lop Nor and Hami (Kumul), as forming
                a separate and independent desert, called the Taklamakan Desert.[2]

                Much of the Gobi is not sandy but has exposed bare rock.
            </p>
            <br>
            <button onclick="show('read2')" class="btn1">Show</button>
            <div class="read" id="read2">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Three Camel Lodge</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Gobi Desert</h3>
                            <p>
                                The renowned 5-star ecolodge in the heart of the gorgeous Gobi Desert, the Three Camel
                                Lodge offers unrivaled experiences of nomadic Mongolian culture, cuisine, cinematic
                                landscapes, epic wildlife, adventure, and cultural arts. A leader in sustainable travel
                                since 2002, the lodge and its staff are perennially recognized by such

                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Dream Gobi Lodge</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Gobi Desert</h3>
                            <p>
                                ou'll be in a national park with a stay at Dream Gobi Lodge in Dalanzadgad. Pamper
                                yourself with onsite massages or take in the view from a terrace. Additional amenities
                                at this lodge include complimentary wireless Internet access, concierge services, and a
                                television in a common area
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Gobi Caravanserai</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Gobi Desert</h3>
                            <p>
                                Gobi Caravanserai Escapist Lodge is a minimalist designed eco lodge located in the
                                middle of infinite Gobi. Due to it's strategic location on the route of the Gobi
                                discovery tours.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                </div>
        </section>

        <section class="d3" id="d3">
            <h3>HOTELS NEAR Kalahari Desert</h3><br>
            <p>Drainage of the desert is by dry black valleys, seasonally inundated pans and the large salt pans of the
                Makgadikgadi Pan in Botswana and Etosha Pan in Namibia. The only permanent river, the Okavango, flows
                into a delta in the northwest, forming marshes that are rich in wildlife. Ancient dry riverbeds—called
                omuramba—traverse the central northern reaches of the Kalahari and provide standing pools of water
                during the rainy season.

                A semi-desert, with huge tracts of excellent grazing after good rains, the Kalahari supports more
                animals and plants than a true desert, such as the Namib Desert to the west. There are small amounts of
                rainfall and the summer temperature is very high. The driest areas usually receive 110–200 millimetres
                (4.3–7.9 in) of rain per year,[1] and the wettest just a little over 500 millimetres (20 in). The
                surrounding Kalahari Basin covers over 2,500,000 square kilometres (970,000 sq mi) extending farther
                into Botswana, Namibia and South Africa, and encroaching into parts of Angola, Zambia and Zimbabwe.
            </p>
            <br>
            <button onclick="show('read3')" class="btn1">Show</button>
            <div class="read" id="read3">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">East Gate Rest Camp</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Trans Kalahari Highway Buitepos, 9000 Buitepos,
                                Namibia</h3>
                            <p>
                                El East Gate Rest Camp se encuentra en Buitepos y ofrece alojamiento con piscina al aire
                                libre, WiFi gratuita, restaurante y jardín.

                                Algunos alojamientos incluyen TV vía satélite, zona de cocina totalmente equipada con
                                microondas y baño privado con ducha y secador de pelo.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Africa Awaits Lodge</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Farm Wendelstein 1026, 9000 Gobabis, Namibia</h3>
                            <p>
                                El Africa Espera Lodge está situado a 8 km del Shoprite Supermarket Gobabis y ofrece
                                alojamiento, restaurante, piscina al aire libre de temporada, bar y salón compartido.
                                Hay conexión WiFi gratuita.

                                Todas las mañanas se sirve un desayuno continental en el lodge.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Hippo Farm Apartment </h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Farm Hippo Namibia PO Box1147, 9000 Gobabis,
                                Namibia</h3>
                            <p>
                                Set in Gobabis, 38 km from Shoprite Supermarket Gobabis and 50 km from Harnas Wildlife
                                Foundation, Hippo Farm Apartment offers air conditioning. This property offers a private
                                pool and free private parking.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                </div>
        </section>

        <section class="d4" id="d4">
            <h3>HOTELS IN Thar Desert</h3><br>
            <p>The northeastern part of the Thar Desert lies between the Aravalli Hills. The desert stretches to Punjab
                and Haryana in the north, to the Great Rann of Kutch along the coast, and to the alluvial plains of the
                Indus River in the west and northwest. Much of the desert area is covered by huge, shifting sand dunes
                that receive sediments from the alluvial plains and the coast. The sand is highly mobile due to the
                strong winds that rise each year before the onset of the monsoon. The Luni River is the only river in
                the desert.[5] Rainfall is 100 to 500 mm (4 to 20 in) per year, almost all of it between June and
                September.[3]

                Saltwater lakes within the Thar Desert include the Sambhar, Kuchaman, Didwana, Pachpadra, and Phalodi in
                Rajasthan and Kharaghoda in Gujarat. These lakes receive and collect rainwater during monsoon and
                evaporate during the dry season. The salt comes from the weathering of rocks in the region
            </p>
            <br>
            <button onclick="show('read4')" class="btn1">Show</button>
            <div class="read" id="read4">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Sam Sand Dunes Desert Safari Camp Jaisalmer </h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Sand Dunes, Before Sam Toll Barrier, Kanoi,
                                Rajasthan 345001</h3>
                            <p>
                                In a series a tents surrounded by desert, this scenic resort is 10 km from Desert
                                National Park and 51 km from Jaisalmer Airport.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel"> Harish Desert Safari </h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Near, sam sand dunes </h3>
                            <p>
                                . With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Welcom Heritage Shri Mohangarh Fort</h1>
                            <h3><i class="fas fa-map-marker-alt"></i>Mohangarh Rd, Shri Mohangarh, Rajasthan 345033</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                </div>
        </section>

        <section class="d5" id="d5">
            <h3>HOTELS IN Namib Desert</h3><br>
            <p>The Namib is a coastal desert in Southern Africa. The name Namib is of Khoekhoegowab origin and means
                "vast place". According to the broadest definition, the Namib stretches for more than 2,000 kilometres
                (1,200 mi) along the Atlantic coasts of Angola, Namibia, and South Africa, extending southward from the
                Carunjamba River in Angola, through Namibia and to the Olifants River in Western Cape, South
                Africa.[2][3][4] The Namib's northernmost portion, which extends 450 kilometres (280 mi) from the
                Angola-Namibia border, is known as Moçâmedes Desert, while its southern portion approaches the
                neighboring Kalahari Desert. From the Atlantic coast eastward, the Namib gradually ascends in elevation,
                reaching up to 200 kilometres (120 mi) inland to the foot of the Great Escarpment.[2] Annual
                precipitation ranges from 2 millimetres (0.079 in) in the most arid regions to 200 millimetres (7.9 in)
                at the escarpment, making the Namib the only true desert in southern Africa.[2][4][5] Having endured
                arid or semi-arid conditions for roughly 55–80 million years, the Namib may be the oldest desert in the
                world[2][5] and contains some of the world's driest regions, with only western South America's Atacama
                Desert to challenge it for age and aridity benchmarks.
            </p>
            <br>
            <button onclick="show('read5')" class="btn1">Show</button>
            <div class="read" id="read5">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Namib Desert Lodge, Gondwana Collection Namibia</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Hardap Dam, Hardap 01, Hardap, Namibia</h3>
                            <p>
                                Surrounded by desert and petrified dunes, this rustic lodge is 25 km from Naukluft
                                Mountain Zebra Park.
                                Warmly decorated rooms offer free Wi-Fi and safes, plus tea and coffeemaking facilities.
                                All have verandas with desert and/or dune views. Family rooms sleep up to 4 guests
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Zannier Hotels Sonop</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Sonop Farm, Road D707, Karas Region, Namibia</h3>
                            <p>
                                Surrounded by desert and petrified dunes, this rustic lodge is 25 km from Naukluft
                                Mountain Zebra Park.
                                Warmly decorated rooms offer free Wi-Fi and safes, plus tea and coffeemaking facilities.
                                All have verandas with desert and/or dune views. Family rooms sleep up to 4 guests
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">andBeyond Sossusvlei Desert Lodge</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Sossusvlei, Namib-Naukluft Park, Namibia, Namibia
                            </h3>
                            <p>
                                Within the NamibRand Nature Reserve, this upmarket all-inclusive lodge surrounded by the
                                Namib Desert is a 30-minute drive from a private airstrip and 375 km from Hosea Kutako
                                International Airport.
                                Featuring private verandas with sunloungers, desert views and outdoor showers, the airy,
                                tranquil suites offer living rooms with fireplaces, plus skylights and customised
                                minibars
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                </div>
        </section>

        <section class="d6" id="d6">
            <h3>HOTELS NEAR Atacama Desert</h3><br>
            <p>The Atacama Desert (Spanish: Desierto de Atacama) is a desert plateau in South America covering a 1,600
                km (990 mi) strip of land on the Pacific coast, west of the Andes Mountains. The Atacama Desert is the
                driest nonpolar desert in the world,[A] as well as the only true desert to receive less precipitation
                than the polar deserts and the largest fog desert in the world. Both regions have been used as
                experimentation sites on Earth for Mars expedition simulations. The Atacama Desert occupies 105,000 km2
                (41,000 sq mi),[6] or 128,000 km2 (49,000 sq mi) if the barren lower slopes of the Andes are
                included.[7] Most of the desert is composed of stony terrain, salt lakes (salares), sand, and felsic
                lava that flows towards the Andes.
            </p>
            <br>
            <button onclick="show('read6')" class="btn1">Show</button>
            <div class="read" id="read6">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Hotel Cumbres San Pedro de Atacama
                            </h1>
                            <h3><i class="fas fa-map-marker-alt"></i> AV. Las Chilcas S/N Lote 10, Parcela 2, 1114500
                                San Pedro de Atacama, Chile</h3>
                            <p>
                                Boasting 3 swimming pools and a fitness centre, Cumbres San Pedro de Atacama offers
                                rooms with private balconies 2 km from the Atacama Desert. Spa facilities include 2 hot
                                tubs and 2 saunas.

                                All rooms at Cumbres San Pedro de Atacama have heating, air conditioning
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Tierra Atacama Hotel & Spa</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Asequitor s/n, 1410000 San Pedro de Atacama, Chile
                            </h3>
                            <p>
                                Featuring a garden with a swimming pool, a spa and a restaurant, Tierra Atacama offers
                                all-inclusive rooms with free WiFi. It is set in an impressive building , 2.5 km from
                                Atacama’ s bus station. Father Lepaige Museum is 2.5 km away
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">NOI Casa Atacama</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Tocopilla E-8, 1410000 San Pedro de Atacama, Chile
                            </h3>
                            <p>
                                You're eligible for a Genius discount at NOI Casa Atacama! To save at this property, all
                                you have to do is sign in.

                                Featuring a year-round outdoor swimming pool and small spa facilities, Casa Atacama by
                                Noi Hotels is a sustainable hotel in San Pedro de Atacama.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                            <a href="#d6" class="btn">book</a>
                        </div>
                    </div>
                </div>
        </section>

        <%- include('footer'); %>

</body>

</html>