<section class="footer" id="footer">
    <div class="box-container">
        <div class="box">
            <p>
                PLAN YOUR HOLIDAYS WITH OUR ASSISTANCE,
                JUST FILL IN YOUR DETAILS.
            </p>
            <div class="share">
                <a href="https://www.facebook.com" class="fab fa-facebook-f"></a>
                <a href="https://www.twitter.com/" class="fab fa-twitter"></a>
                <a href="https://www.instagram.com" class="fab fa-instagram"></a>
                <a href="https://in.linkedin.com" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home" class="links">
                <i class="fas fa-arrow-right"></i> home
            </a>
            <a href="#about" class="links">
                <i class="fas fa-arrow-right"></i> about
            </a>
            <a href="#services" class="links">
                <i class="fas fa-arrow-right"></i> services
            </a>
            <a href="#gallery" class="links">
                <i class="fas fa-arrow-right"></i> gallery
            </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p><i class="fas fa-map"></i> indian institute of information technology sricity, andra pradesh</p>
            <p><i class="fas fa-phone"></i> +91-93987 17554</p>
            <p><i class="fas fa-envelope"></i> packyourbag@gmail.com </p>
            <p><i class="fas fa-clock"></i> 7:00am - 10:00pm</p>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email" class="email" id="" />
                <input type="submit" value="subscribe" class="btn" />
            </form>
        </div>
    </div>
</section>

<div class="credit">
    Copyright © 2022 Created By <span>IIITS STUDENTS</span> | all rights reserved !!
</div>