<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>
        <section class="packages" id="packages">

            <h1 class="heading">
                <span>p</span>
                <span>a</span>
                <span>c</span>
                <span>k</span>
                <span>a</span>
                <span>g</span>
                <span>e</span>
                <span>s</span>
            </h1>

        <div class="box-container">

            <div class="box">
                <img src="img/places/forest/Monteverde cloud Forest,costa rica 1.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Monteverde Cloud Forest, Costa Rica </h3>
                    <p>Costa Rica’s central highlands are always shrouded in mist, making any traveller feel as though they have been transported to another world entirely. Dotted with exquisite cloud forests, this biodiverse region is home to some of the most beautiful landscapes in the world. Costa Rica’s forests are known for their elevated and verdant nature, and the country is lucky enough to be home to six different cloud forest zones.
                        </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d1" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/forest/4. DAINTREE FOREST1.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Daintree Rainforest, Australia </h3>
                    <p>Listed as a UNESCO World Heritage Site in 1988, Northern Queensland’s Daintree Rainforest is one of the most significant ecosystems in the world. This dense green jungle is so beautiful that it was used as inspiration for the landscapes of blockbuster movie Avatar. For nature lovers and adventure seekers alike, the Daintree Rainforest is Australia’s best kept secret. Visitors can trek through dense jungle, soar through the forest canopy on a zip line or go crocodile spotting along the Daintree River. Home to an incredible 122 rare and endangered species, the Daintree Rainforest is a haven for wildlife enthusiasts.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d2" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/forest/3) Amazon Rainforest, Latin America1.webp" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Amazon Rainforest, Latin America</h3>
                    <p>Verdant rainforest, isolated tribes and exotic wildlife; there are few people who haven’t heard of the world famous Amazon rainforest. This vast natural phenomenon spans across an incredible nine countries, so travellers are spoilt for choice. In Brazil, the river is at its widest, often several kilometers across. The region’s dry land means the forest trees are older and taller than that of the forest elsewhere in the Amazon.
                    </p>
                    
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d3" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/forest/4) Bwindi Impenetrable Forest, Uganda1.webp" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Bwindi Impenetrable Forest, Uganda </h3>
                    <p>World-renowned for its gorilla tracking opportunities, the Bwindi Impenetrable Forest in Uganda is one of our favourite forests. Home to the highest concentration of primates on earth, this forest is famed for its lush jungle and tropical wildlife. Around 10 habituated gorilla families live in Bwindi National Park, and the journey you take to track them is nothing short of adventurous. Suited to more daring travellers, Bwindi’s terrain is such that you start your trek on high ground before descending into a valley and then tackling an arduous climb. Slopes can often be steep and there are no trails, giving Bwindi its impenetrable reputation.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d4" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/forest/5) Arashiyama Bamboo Grove, Japan1.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Arashiyama Bamboo Grove, Japan</h3>
                    <p>Located in Kyoto, the Arashiyama Bamboo Grove is one of Japan’s top sights for good reason. As you venture along the path that cuts through the middle of the forest, you’ll feel as though you’re walking into another universe. Soaring stalks of bamboo surround either side of the path, and this forest is filled with many photo opportunities. These thick bamboo stalks seem to continue endlessly in every direction, and a soft light fills the gaps between the trees beautifully. The grove runs from outside the north gate of the charming Tenryū-ji temple to the Ōkōchi Sansō villa, and is at its most atmospheric on the approach to this villa.
                        </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d5" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="img/places/forest/BALCK FOREST1.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>  Black Forest</h3>
                    <p>The Black Forest is a mountainous region in southwest Germany, bordering France. Known for its dense, evergreen forests and picturesque villages, it is often associated with the Brothers Grimm fairy tales. It's renowned for its spas and the cuckoo clocks produced in the region since the 1700s. The region’s largest town, Freiburg, is filled with Gothic buildings and surrounded by vineyards.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d6" class="btn">book now</a>
                </div>
            </div>

            <!-- <div class="box">
                <img src="img/places/forest/6) Trossachs National Park, Scotland1.jpg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i>Trossachs National Park, Scotland</h3>
                    <p>One of the United Kingdom’s largest National Nature Reserves, Scotland’s Great Trossachs Forest is a huge woodland restoration project. Over the first 10 years of the 200 year project, more than 2.5 million trees have been planted – the Great Trossachs Forest is one of the youngest forests in the world and is set to be one of the largest in a couple of centuries. Covering 160 square kilometres, this newly planted forest is set to restore habitats of invertebrates, mammals, birds and other wildlife.
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d7" class="btn">book now</a>
                </div>
            </div>

            

            <div class="box">
                <img src="img/places/forest/2) Daintree Rainforest, Australia1.jpg">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Daintree Rainforest</h3>
                    <p>The Daintree Rainforest is a region on the northeast coast of Queensland, Australia, north of Mossman and Cairns. At around 1,200 square kilometres, the Daintree is a part of the largest continuous area of tropical rainforest on the Australian continent.

                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="#d8" class="btn">book now</a>
                </div>
            </div>




        </div> -->

    </section>

    
    <section class="d1" id="d1">
        <h3>HOTELS NEAR Monteverde Cloud Forest, Costa Rica</h3><br>
        <p>The Monteverde Cloud Forest Reserve (Spanish: Reserva Biológica Bosque Nuboso Monteverde) is a Costa Rican reserve located along the Cordillera de Tilarán within the Puntarenas and Alajuela provinces. Named after the nearby town of Monteverde and founded in 1972,[1] the Reserve consists of over 10,500 hectares (26,000 acres) of cloud forest. It draws roughly 70,000 visitors a year. The Reserve consists of 6 ecological zones, 90% of which are virgin forest.[2] A high biodiversity, consisting of over 2,500 plant species (including the most orchid species in a single place), 100 species of mammals, 400 bird species, 120 reptilian and amphibian species, and thousands of insects, has drawn both scientists and tourists alike.
        </p>
        <br>
        <button onclick="show('read1')" class="btn1">Show</button>
        <div class="read" id="read1">
            <div class="box-container">

                <div class="box">
                    <img src="img/places/desert/Palm Beach Palace Tozeur HOTEL.jpg" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Camino Verde B&B Monteverde Costa Rica</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> 
                            350 Metros de la Iglesia de Santa Elena, Santa Elena, 10001 Monteverde Costa Rica, Costa Rica </h3>
                        <p>
                            Located in Monteverde, Costa Rica. Camino Verde Bed & Breakfast Monteverde features a terrace with great views of the surrounding cloud forest and mountains. It offers a free breakfast.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d1" class="btn">see more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/forest/4. DAINTREE FOREST1.jpeg" alt="">
                    <div class="content">
                        <h1 class="hotel"> Selina Monteverde</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Carretera a Reserva de Monteverde Puntarenas, Monteverde Costa Rica, Costa Rica</h3>
                        <p>
                            et in Monteverde Costa Rica, 8 km from Sky Adventures Monteverde, Selina Monteverde offers accommodation with a restaurant, free private parking, a bar and a garden.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d2" class="btn">see more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/forest/3) Amazon Rainforest, Latin America1.webp" alt="">
                    <div class="content">
                        <h1 class="hotel"> Los Pinos Lodge & Gardens </h1>
                        <h3><i class="fas fa-map-marker-alt"></i>150 noreste escuela pública Rafael Arguedas Herrera, 60109 Monteverde Costa Rica, Costa Rica</h3>
                        <p>
                            his eco-friendly property located in Monteverde Costa Rica, offers lush gardens and well-equipped cottages with free Wi-Fi at the lobby and mountain views
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>

                        </div>
                        <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                        <a href="#d4" class="btn">see more</a>
                    </div>
                </div>

                

                



                




            </div>

        </section>

    <section class="d2" id="d2">
        <h3>HOTELS NEAR Daintree Rainforest, Australia</h3><br>
        <p>The Daintree Rainforest is a region on the northeast coast of Queensland, Australia, north of Mossman and Cairns. At around 1,200 square kilometres (460 sq mi),[1] the Daintree is a part of the largest continuous area of tropical rainforest on the Australian continent. The Daintree Rainforest is a part of the Wet Tropics of Queensland Rainforest, that spans across the Cairns Region. The Wet Tropics Rainforest (that the Daintree is a part of) is the oldest continually surviving tropical rainforest in the world. Along the coastline north of the Daintree River, tropical forest grows right down to the edge of the sea
        </p>
        <br>
        <button onclick="show('read2')" class="btn1">Show</button>
        <div class="read" id="read2">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Wildwood</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Lot 5 Nicole drive, 4873 Cape Tribulation, Australia</h3>
                        <p>
                            This property is 16 minutes walk from the beach. Wildwood is set on a rare exotic fruit orchard, in the heart of Cape Tribulation. Guests have exclusive access to the orchard and can freely explore the 800+ trees on the property
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Daintree Manor B&B</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> 122 Forest Creek Road, 4873 Daintree, Australia</h3>
                        <p>
                            Providing garden views, Daintree Manor B&B in Daintree provides accommodation, free bikes, a shared lounge, a garden and a terrace. Both WiFi and private parking are available at the bed and breakfast free of charge.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Mossman Gorge Bed and Breakfast</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>  
                            7 Gorge View Crescent Mossman Gorge, PO Box 1079, 4873 Mossman, Australia</h3>
                        <p>
                            Mossman Gorge B&B is a traditional bed and breakfast in a rainforest setting. Guests share the upstairs level of the home with the hosts, and enjoy access to indoor/outdoor living/dining areas
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="d3" id="d3">
        <h3>HOTELS NEAR Amazon Rainforest, Latin America</h3><br>
        <p>In the Amazonas, there has been fighting and wars between the neighboring tribes of the Jivaro. Several tribes of the Jivaroan group, including the Shuar, practised headhunting for trophies and headshrinking.[6] The accounts of missionaries to the area in the borderlands between Brazil and Venezuela have recounted constant infighting in the Yanomami tribes. More than a third of the Yanomamo males, on average, died from warfare.[7]
           +During the Amazon rubber boom it is estimated that diseases brought by immigrants, such as typhus and malaria, killed 40,000 native Amazonians
        </p>
        <br>
        <button onclick="show('read3')" class="btn1">Show</button>
        <div class="read" id="read3">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Amazon Rainforest, Latin America</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> Rodovia BR 319, s/nº, ME do Paraná do Mamorí, Careiro, CEP 69250-000, Brazil</h3>
                        <p>
                            Located on Mamori River, Dolphin Lodge offers fishing, an on-site restaurant and a daily buffet breakfast. A rest area with hammocks can be found by the river and 24-hour front desk service is available.


                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Amazon Arowana Lodge </h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Paraná do Mamori, Zona Rural, Careiro, CEP 69.067-370, Brazil</h3>
                        <p>
                            Arowana lodge features a floating reception and restaurant in the heart of the Amazon Forest. It provides a tour desk and activities such as ecological fishing and exciting night stays in the jungle.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel"> Jungle Spa e Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> RODOVIA AM 010, KM 69 S/N ZONA RURAL, Rio Preto Da Eva, CEP 69057-010, Brazil </h3>
                        <p>
                            With garden views, Jungle Spa e Hotel is situated in Rio Preto Da Eva and has a restaurant, a shared lounge, snack bar, garden, year-round outdoor pool and sun terrace. Complimentary WiFi is available.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="d4" id="d4">
        <h3>HOTELS IN Bwindi Impenetrable Forest, Uganda</h3><br>
        <p>The name Bwindi is derived from the Runyakitara word Mubwindi and means "a place full of darkness".[2] This name comes from the extensive stands of bamboo interspersed amongst the larger forest hardwoods. The bamboo and thick ground cover of ferns, vines, and other plant growth severely hinder direct access on foot.[3] Also known as the "Place of Darkness",[4][5] the forest is on the edge of the western arm of the Great Rift Valley, only a few kilometres from the Democratic Republic of the Congo (DRC) border and about 25 kilometres (16 mi) north of the Virunga Mountains.
        </p>
        <br>
        <button onclick="show('read4')" class="btn1">Show</button>
        <div class="read" id="read4">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Jungle Spa e Hotel</h1>
                        <h3><i class="fas fa-map-marker-alt"></i> RODOVIA AM 010, KM 69 S/N ZONA RURAL, Rio Preto Da Eva, CEP 69057-010, Brazil –</h3>
                        <p>
                            With garden views, Jungle Spa e Hotel is situated in Rio Preto Da Eva and has a restaurant, a shared lounge, snack bar, garden, year-round outdoor pool and sun terrace. Complimentary WiFi is available.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel"> Pousada Recanto Das Garças </h1>
                        <h3><i class="fas fa-map-marker-alt"></i>  AV DA GARÇAS Nº 08 QUADRA ÚNICA LOTE ESPECIAL E, Rio Preto Da Eva, CEP 69117-000, Brazil</h3>
                        <p>
                            Pousada Recanto Das Garças features accommodation in Rio Preto Da Eva. There is an outdoor pool and guests can make use of free WiFi and free private parking.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="d5" id="d5">
        <h3>HOTELS IN Arashiyama Bamboo Grove, Japan</h3><br>
        <p>The region experiences unpredictable weather with a rather cool climate and bright sunlight. In this region the summers are short, hot, and mostly cloudy. The winters are very cold, windy, and partly cloudy. It is also wet year-round. Over the course of the year, the temperature typically ranges from 32°F to 89°F. The Summers last for approximately 2 months, from June 23 to September 17, with an average daily high temperature above 80°F. The winters last for approximately 3 months, from December 3 to March 18, with an average daily high temperature below 53°F
        </p>
        <br>
        <button onclick="show('read5')" class="btn1">Show</button>
        <div class="read" id="read5">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel"> Hotel Arashiyama</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>  616-0001 Kyoto, Kyoto, Nishikyo-ku Arashiyama Kamikawaracho 1-3, Japan </h3>
                        <p>
                            Set in Kyoto, within 1.3 km of Arashiama Bamboo Grove and 3.4 km of Otagi Nenbutsu-ji Temple, Hotel Arashiyama offers accommodation with a terrace and as well as free private parking for guests who drive
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel"> SH by the square hotel Kyoto Kiyamachi </h1>
                        <h3><i class="fas fa-map-marker-alt"></i>600-8027 Kyoto, Kyoto, 403-1 Namba-cho, Nishikiyamachi-dori Matsubara-sagaru, Shimogyo-ku,</h3>
                        <p>
                            Conveniently located in the Shimogyo Ward district of Kyoto, SH by the square hotel Kyoto Kiyamachi is set 1.6 km from Sanjusangen-do Temple, 1.7 km from Samurai Kembu Kyoto and 1.8 km from Kiyomizu-dera Temple. 
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Rinn Gion Yasaka </h1>
                        <h3><i class="fas fa-map-marker-alt"></i> 605-0811 Kyoto, Kyoto, Higashiyama-ku Komatsucho 11-11, Japan</h3>
                        <p>
                            Attractively located in the Higashiyama Ward district of Kyoto, Rinn Gion Yasaka is situated less than 1 km from Kiyomizu-dera Temple, a 14-minute walk from Shoren-in Temple and 1.2 km from Sanjusangen-do Temple.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <section class="d6" id="d6">
        <h3>HOTELS NEAR Black Forest
        </h3><br>
        <p>he Black Forest is a large forested mountain range in south-west Germany, in the state of Baden-Württemberg, bounded by the Rhine valley to the west and south and close to the borders with France and Switzerland.[1] It is the source of the Danube and Neckar rivers.

            Its highest peak is the Feldberg with an elevation of 1,493 metres (4,898 ft) above sea level. Roughly oblong in shape, with a length of 160 kilometres (100 miles) and breadth of up to 50 km (30 mi),[2] it has an area of about 6,009 km2 (2,320 sq mi).
        </p>
        <br>
        <button onclick="show('read6')" class="btn1">Show</button>
        <div class="read" id="read6">
            <div class="box-container">
                <div class="box">
                    <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel La Toscana Nähe Europapark</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>Mahlberger Strasse 6, 77975 Ringsheim , 77975 Ringsheim, Germany</h3>
                        <p>
                            Located in Ringsheim, the newly built Hotel La Toscana Nähe Europapark offers air-conditioned rooms with free WiFi. The property was newly opened in March 2018. 
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Novotel.webp" alt="Novotel" />
                    <div class="content">
                        <h1 class="hotel">Hotel Rössle</h1>
                        <h3><i class="fas fa-map-marker-alt"></i>  Johann-Peter-Hebel-Straße 7, 75335 Dobel, Germany </h3>
                        <p>
                            This hotel enjoys a quiet location in the spa district of Dobel, surrounded by Black Forest countryside. Hotel Rössle offers a spacious sun terrace.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                    <div class="content">
                        <h1 class="hotel">Schwarzwaldhotel Sonne </h1>
                        <h3><i class="fas fa-map-marker-alt"></i>  Geroldsauer Str. 145, 76534 Baden-Baden, Germany</h3>
                        <p>
                            This hotel is located in the Black Forest, 5 km south of the world-famous spa and casino town of Baden-Baden. It offers large rooms with a balcony.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer'); %>

            <!-- footer section ends -->
</body>

</html>