<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hill Station</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

        <section class="packages" id="packages">

            <h1 class="heading">
                <span>h</span>
                <span>i</span>
                <span>l</span>
                <span>l</span>
                <span class="space"> </span>
                <span>s</span>
                <span>t</span>
                <span>a</span>
                <span>t</span>
                <span>i</span>
                <span>o</span>
                <span>n</span>
                <span>s</span>
            </h1>

            <div class="box-container">

                <div class="box">
                    <img src="img/places/hill stations/india-manali-rohtang-pass-road.jpg" alt=" Kulu Manali">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Kulu Manali,India</h3>
                        <p>Popular for its scenic beauty, flowery gardens, snow-capped mountains, and orchards of red
                            and
                            green apples, Manali is one of the best hill stations in India in May & June.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d1" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/hill stations/Gulmarg.jpeg" alt=" Gulmarg ">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Gulmarg,India </h3>
                        <p>Literally meaning the "meadow of flowers", Gulmarg is known for its unparalleled natural
                            beauty.
                        </p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d2" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/hill stations/Lecco.jpg" alt=" Lecco">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Lecco,Italy </h3>
                        <p>Lecco is blessed to be pleasant throughout the year and each season has something in store
                            for
                            you.</p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d3" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/hill stations/Wengen-Switzerland.jpg" alt=" Wengen">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Wengen </h3>
                        <p>A popular skiing destination in Europe, Wengen hosts Lauberhorn Ski races and FIS Alpine Ski
                            World Cup every January.</p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d4" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/hill stations/Innsbruck-Austria.jpg" alt=" Innsbruck">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Innsbruck </h3>
                        <p>An Alpine city, Innsbruck is a blend of old and new. With old town and heritage still
                            narrating
                            the tales of past, the new part of Innsbruck offers all the luxury you could dream of.</p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d5" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/hill stations/Garmisch-Partenkirchen.jpg" alt=" Garmisch-Partenkirchen">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Garmisch-Partenkirchen </h3>
                        <p> If you are one of those travellers who seek natural paradise and a place which you can call
                            your
                            own, Garmisch-Partenkirchen is the destination made for you.</p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d6" class="btn">See more</a>
                    </div>
                </div>



            </div>

        </section>


        <section class="d1" id="d1">
            <h3>HOTELS NEAR PUTHUR</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read1')" class="btn1">Show Hotels</button>
            <div class="read" id="read1">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d2" id="d2">
            <h3>HOTELS NEAR THEERTHAMALAI</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read2')" class="btn1">Show Hotels</button>
            <div class="read" id="read2">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d3" id="d3">
            <h3>HOTELS NEAR SHYAM GAON</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read3')" class="btn1">Show Hotels</button>
            <div class="read" id="read3">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d4" id="d4">
            <h3>HOTELS IN CHITRAKOTE</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read4')" class="btn1">Show Hotels</button>
            <div class="read" id="read4">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d5" id="d5">
            <h3>HOTELS IN LACHEN</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read5')" class="btn1">Show Hotels</button>
            <div class="read" id="read5">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="d6" id="d6">
            <h3>HOTELS NEAR HODKA</h3><br>
            <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent Silk
                Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour Of The
                Silk
                Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This Little
                Village.
            </p>
            <br>
            <button onclick="show('read6')" class="btn1">Show Hotels</button>
            <div class="read" id="read6">
                <div class="box-container">
                    <div class="box">
                        <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                        <div class="content">
                            <h1 class="hotel">Gateway Hotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Located in the financial capital of Andhra Pradesh, The Gateway
                                Hotel M G Road offers a rooftop swimming pool and modern rooms
                                with a flat-screen TV.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹1200.00 <span>₹1900.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Novotel.webp" alt="Novotel" />
                        <div class="content">
                            <h1 class="hotel">Novotel</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                a fitness centre and bar in Vijayawāda. With free WiFi, this
                                5-star hotel offers a shared lounge and a concierge service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹2200.00 <span>₹2500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                    <div class="box">
                        <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                        <div class="content">
                            <h1 class="hotel">Taj Ganges</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                            <p>
                                Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful getaway in
                                the
                                ancient temple
                                city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room service.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="price">₹4000.00 <span>₹4500.00</span></div>
                            <a href="book" class="btn">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('footer'); %>

            <!-- footer section ends -->
</body>

</html>