<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours and Travel Landing Page</title>

    <!-- For zoom-in and fade-up -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- Custom CSS Link... -->
    <link rel="stylesheet" href="css\style.css">
    <link rel="stylesheet" href="css\gallery.css">
    <link rel="stylesheet" href="css\places.css">
    <link rel="stylesheet" href="css\footer.css">



    <!-- Font Awesome Link... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- FAVICON  -->
    <link rel="icon" href="img/images/fav1.png">

    <!-- Script for animation and swiper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>


    <div class="arrow" id="arrow">
        <a href="#home"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <%- include('navbarh'); %>

        <!-- Home Section Starts... -->
        <section class="home" id="home">
            <div class="content">
                <h3>travelling is worthwhile</h3>
                <p>discover new places with us, adventure awaits</p>
                <a href="#gallery" class="btn">discover more</a>
            </div>
            <div class="video-container">
                <video src="img/images/vid-2.mp4" loop autoplay muted></video>
            </div>
        </section>
        <!-- Home Section Ends... -->

        <!-- gallery section starts here -->

        <section class="gallery" id="gallery">
            <h1 class="heading">
                <span>g</span>
                <span>a</span>
                <span>l</span>
                <span>l</span>
                <span>e</span>
                <span>r</span>
                <span>y</span>

            </h1>

            <div class="box-container">

                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/1.jpeg" alt="">
                    <div class="content">
                        <h3>Goa</h3>
                        <p>The top sightseeing places in Goa are Calangute Beach, Basilica of Bom Jesus and more...</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/3.jpeg" alt="">
                    <div class="content">
                        <h3>Panaji</h3>
                        <p>The river cruises start from Tourist Jetty on Mandovi river in Panaji town on Old Panaji
                            Road.
                        </p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/4.jpeg" alt="">
                    <div class="content">
                        <h3>Himachal pradesh</h3>
                        <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj and more...</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/5.jpeg" alt="">
                    <div class="content">
                        <h3>Dalhousie</h3>
                        <p>Dalhousie is a high-altitude across 5 hills near the mountain range in the north Indian.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/6.jpeg" alt="">
                    <div class="content">
                        <h3> Kodaikanal </h3>
                        <p>Kodaikanal is a hill town in the southern Indian state of Tamil Nadu.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/7.jpeg" alt="">
                    <div class="content">
                        <h3>Delhi</h3>
                        <p>Delhi showcases an ancient culture and a rapidly modernising country.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/8.jpeg" alt="">
                    <div class="content">
                        <h3> Ooty </h3>
                        <p>Ooty is a resort town in the Western Ghats mountains, in southern India's Tamil Nadu state.
                        </p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/9.jpeg" alt="">
                    <div class="content">
                        <h3> kerla </h3>
                        <p>Kerala is famous especially for its ecotourism initiatives and beautiful backwaters.</p>
                    </div>
                </div>
                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/10.jpeg" alt="">
                    <div class="content">
                        <h3>Kanyakumari</h3>
                        <p>Kanyakumari is a coastal town in the state of Tamil Nadu on India's southern tip.</p>
                    </div>
                </div>

                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/11.jpeg" alt="">
                    <div class="content">
                        <h3>Araku Valley</h3>
                        <p>Araku Valley is a hill station and valley region in the southeastern Indian state of Andhra
                            Pradesh</p>
                    </div>
                </div>

                <div class="box" data-aos="zoom-in">
                    <img src="img/images/pack_img/13.jpg" alt="">
                    <div class="content">
                        <h3> Agra </h3>
                        <p>One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in
                            Agra...</p>
                    </div>
                </div>

            </div>
        </section>
        <!-- gallery section starts here -->

        <!-- places section starts here -->
        <section class="places" id="places">
            <h1 class="heading">
                <span>p</span>
                <span>l</span>
                <span>a</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <div class="box-container">
                <div class="box" data-aos="fade-right">
                    <img src="img/places/types/beach.jpg" alt="Beach">
                    <div class="content">
                        <h3> Beach </h3>
                        <p>Beach areas are popular types of tourist destinations. Some people travel a long way to reach
                            a
                            beach</p>
                        <a href="beach" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-right">
                    <img src="img/places/types/island.jpg" alt="Islands">
                    <div class="content">
                        <h3> Islands </h3>
                        <p>Islands are land masses that are surrounded by water. They are separated form the mainland.
                        </p>
                        <a href="island" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-right">
                    <img src="img/places/types/hillStation.jpg" alt="Hill Station">
                    <div class="content">
                        <h3> Hill Stations </h3>
                        <p>There are many different activities that you can do in the mountains, such as hiking, skiing,
                            horse riding, and more.</p>
                        <a href="hillStation" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-right">
                    <img src="img/places/types/forest.jpg" alt="Forest">
                    <div class="content">
                        <h3> Forest </h3>
                        <p>There are forests all over the world, although the flora and fauna differs according to the
                            geographical location.</p>
                        <a href="forest" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <img src="img/places/types/winter.jpg" alt="Winter">
                    <div class="content">
                        <h3> Winter </h3>
                        <p>People travel to destinations with winter conditions for a range of winter sport activities.
                        </p>
                        <a href="winter" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <img src="img/places/types/cultural.jpg" alt="Cultural">
                    <div class="content">
                        <h3> Cultural </h3>
                        <p>A type of tourism activity in which the visitor's essential motivation is to learn, discover,
                            experience.</p>
                        <a href="cultural" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <img src="img/places/types/Desert.jpg" alt="Desert">
                    <div class="content">
                        <h3> Desert </h3>
                        <p>Desert is an undulating sand plain covered with sand dunes.</p>
                        <a href="desert" class="btn">see more</a>
                    </div>
                </div>

                <div class="box" data-aos="fade-left">
                    <img src="img/places/types/countryside.jpg" alt="Countryside">
                    <div class="content">
                        <h3> Countryside </h3>
                        <p>A visit to countryside is a unique and wonderful experience.</p>
                        <a href="countryside" class="btn">see more</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- places section starts here -->

        <!-- about section starts here-->

        <section class="about" id="about">
            <h1 class="heading">
                <span>a</span>
                <span>b</span>
                <span>o</span>
                <span>u</span>
                <span>t</span>

            </h1>
            <p>Travelling is a little adventure where you get memories and experiences of a liftime. To travel is to
                live.
                You will always be fascinated by the beauty of this world and pondered with the question "where to
                next".
                But you need not worry about this because with our assistance and guidance you can easily figure out
                where
                you would like to go. We constantly work to amuse you and find a way for you to relax. We are here for
                you!
            </p>
        </section>

        <!-- about section ends here-->

        <!-- Services Section -->
        <section class="services" id="services">

            <h1 class="heading">
                <span>s</span>
                <span>e</span>
                <span>r</span>
                <span>v</span>
                <span>i</span>
                <span>c</span>
                <span>e</span>
                <span>s</span>
            </h1>

            <div class="box-container">

                <div class="box" data-aos="zoom-in">

                    <i class="fas fa-hotel"></i>
                    <h3>affordable hotels</h3>
                    <p>People will forget what you said, forget what you did, but people will never forget how you made
                        them
                        feel. So, it has been, and continues to be, our responsibility to fill the soul with the light
                        and
                        warmth of hospitality.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-utensils"></i>
                    <h3>food and drinks</h3>
                    <p>We have been partners with wide range of hotels whose top priority is to provide quality food to
                        their customers because food is culture, habit, craving and identity.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-bullhorn"></i>
                    <h3>safty guide</h3>
                    <p>At the end of the day, the goals are safety and security. We go to great lengths in order to
                        ensure
                        the safety of our tourists.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-globe-asia"></i>
                    <h3>around the world</h3>
                    <p>travel faster:If you wish to travel far and fast, travel light. Take off all your envies,
                        jealousies,
                        unforgiveness, selfishness, fears to travel and explore the world.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-plane"></i>
                    <h3>fastest travel</h3>
                    <p>Travel makes one modest, you see what a tiny place you occupy in the world. So just travel
                        without
                        any regrets.</p>
                </div>
                <div class="box" data-aos="zoom-in">
                    <i class="fas fa-hiking"></i>
                    <h3>adventures</h3>
                    <p>Only those who risk going too far can possibly find out how far they can go.Life is either a
                        daring
                        adventure or nothing at all..Always say yes to new adventures.</p>
                </div>

            </div>

        </section>

        <!-- review section starts  -->

        <section class="review" id="review">

            <h1 class="heading">
                <span>r</span>
                <span>e</span>
                <span>v</span>
                <span>i</span>
                <span>e</span>
                <span>w</span>
            </h1>

            <div class="review-slider" data-aos="zoom-in" style="height: 55%;">

                <div class="swiper-wrapper">

                    <div class="swiper-slide slide">
                        <img src="img/images/pic1.png" alt="">
                        <h3>Jennifer</h3>
                        <p>Excellent! Very good service from beginning to end. Even with a COVID-related delay in the
                            middle of it, Lisa stayed in contact with us and got us a reschedule with the utmost of
                            ease. Thank you!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <img src="img/images/pic2.png" alt="">
                        <h3>Ann Gordon</h3>
                        <p>I usually plan and book our holidays myself and was a little cautious but thought I'd give
                            booking with "PACK UR BAGS" a go. Booking with "PACK UR BAGS" was easy and trouble free. My
                            consultant and other staff were very helpful and friendly.</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <img src="img/images/pic3.png" alt="">
                        <h3>Stacey Vorwerk</h3>
                        <p>Super happy with travel online. Hotel was quite disappointing peobably wont stay there again
                            to be honest</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                    <div class="swiper-slide slide">
                        <img src="img/images/pic4.png" alt="">
                        <h3>Leanne Celik</h3>
                        <p>Website is very user friendly, easy to navigate and play around with dates and different
                            options. When having to make contact with womeone, service was very good and accommodated
                            our requests. Thank You!</p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>

                </div>

                <div class="swiper-pagination"></div>

            </div>

        </section>


        <section class="cont" id="cont">

            <!-- CONTACT US -->
            <div class="contact_us_cls" id="contact_us">

                <div class="structure">
                    <div class="structure_1" id="cont_id">
                        <form action="" method="">
                            <label style="font-size: 17px;">First Name <span class="star">*</span></label><br>
                            <br>

                            <input type="text" name="" style="margin-right: 10px; width: 400px" required="required"><br>

                            <label style="font-size: 17px;">Last Name <span class="star">*</span></label><br><br>

                            <input type="text" name="lname" style="width: 400px" required="required"><br>

                            <label style="font-size: 17px;">Email <span class="star">*</span></label><br><br>
                            <input type="email" name="mail" style="width: 500px" required="required"><br>

                            <label style="font-size: 17px;">Message <span class="star">*</span></label><br><br>
                            <input type="text" name="message" style="width: 100%" required="required"><br>
                            <label style="font-size: 17px;">Additional Details</label><br><br>
                            <textarea name="addtional"></textarea><br>
                            <button type="submit" id="fsubmit" style="font-size: 20px;">Send Message</button>
                        </form>
                    </div>
                </div>

        </section>


        <!-- FEEDBACK -->
        <div class="fd_bk" id="">
            <span>Give Feedback</span>
            <div class="shortdesc2">
                <p>Please share your valuable feedback to us</p>
            </div>
        </div>

        <div class="feed_box">
            <div class="feed">
                <form action="" method="">
                    <label>Your Name</label><br><br>
                    <input type="text" name="" class="fname" required="required"><br>
                    <label>Email</label><br><br>
                    <input type="email" name="mail" required="required"><br>
                    <label>Additional Details</label><br><br>
                    <textarea name="addtional"></textarea><br>
                    <button type="submit" id="fsubmit" style="font-size: 20px;">Send Message</button>
                </form>
            </div>
        </div>

        <%- include('footer'); %>

            <!-- custom js file link  -->
            <script src="js/script.js"></script>

            <script>

                AOS.init({
                    duration: 800,
                    delay: 200
                });

            </script>
</body>

</html>