<header>
    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="/" class="logo"><span>P</span>ACK <span>U</span>R <span>B</span>AGS</a>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#packages">Packages</a>
        <a href="#d1">Hotels</a>
        <a href="review">Reviews</a>
        <a href="#footer">Contact</a>
    </nav>
    <div class="icons">
        <!-- <i class="fas fa-search" id="search-btn"></i> -->
        <a href="login"><i class="fa fa-user" aria-hidden="true" id="login-btn"></i></a>
    </div>
    <!-- <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="Search here..">
        <label for="search-bar" class="fas fa-search"></label>
    </form> -->
</header>