<!-- NAME : RAHUL VARMA -->
<!-- GROUP NO: 17 -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package</title>
    <!-- Custom CSS Link... -->
    <link rel="stylesheet" href="css\style.css">
    <!-- Font Awesome Link... -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--  -->
    <link rel="stylesheet" href="css/package.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" href="css/images/fav1.png">

</head>

<body>
    <header>
        <div id="menu-bar" class="fas fa-bars"></div>

        <a href="INDEX.html" class="logo"><span><span>P</span>ACK <span>Y</span>OUR <span>B</span>AGS</span></a>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="book.html">Book</a>
            <a href="package.html">Packages</a>
            <a href="services.html">Services</a>
            <a href="review.html">Reviews</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section class="packages" id="packages">

        <h1 class="heading">
            <span>p</span>
            <span>a</span>
            <span>c</span>
            <span>k</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>s</span>
        </h1>

        <div class="box-container">

            <div class="box">
                <img src="css/images/pack_img/1.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Goa </h3>
                    <p>The top sightseeing places in Goa are Calangute Beach, Basilica of Bom Jesus, Water Sports in
                        Goa, Fort Aguada, Baga Beach, Cruise in Goa.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/3.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Panaji </h3>
                    <p>The river cruises start from Tourist Jetty on Mandovi river in Panaji town on Old Panaji Road.
                        Each cruise is triple decked and a lovely panoramic view of the city of Panjim.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/4.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Manali </h3>
                    <p>The top things to do in Himachal pradesh are Manali, Shimla, Mcleodganj, Dalhousie, Spiti, Kasol.
                        You can see all the places to visit in Himachal pradesh here</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/5.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Dalhousie </h3>
                    <p>Dalhousie is a high-altitude town spread across 5 hills near the Dhauladhar mountain range in the
                        north Indian state of Himachal Pradesh.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/6.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Kodaikanal </h3>
                    <p>Kodaikanal is a hill town in the southern Indian state of Tamil Nadu. It’s set in an area of
                        granite cliffs, forested valleys, lakes, waterfalls and grassy hills.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/7.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Delhi </h3>
                    <p>Delhi showcases an ancient culture and a rapidly modernising country. Dotted with monuments there
                        is much to discover here.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/8.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Ooty </h3>
                    <p>Ooty is a resort town in the Western Ghats mountains, in southern India's Tamil Nadu state.
                        Founded as a British Raj summer resort, it retains a working steam railway line.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/9.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> kerla </h3>
                    <p>Kerala is famous especially for its ecotourism initiatives and beautiful backwaters. Its unique
                        culture and traditions, coupled with its varied demography, have made Kerala one of the most
                        popular tourist destinations in the world.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/11.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Araku Valley </h3>
                    <p>Araku Valley is a hill station and valley region in the southeastern Indian state of Andhra
                        Pradesh. It's surrounded by the thick forests of the Eastern Ghats mountain range.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/10.jpeg" alt="">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Kanyakumari</h3>
                    <p>Kanyakumari is a coastal town in the state of Tamil Nadu on India's southern tip. Jutting into
                        the Laccadive Sea, the town was known as Cape Comorin during British rule and is popular for
                        watching sunrise and sunset over the ocean.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>

            <div class="box">
                <img src="css/images/pack_img/13.jpg" alt="image not found">
                <div class="content">
                    <h3> <i class="fas fa-map-marker-alt"></i> Agra</h3>
                    <p>One of the seven wonders of the world, Taj Mahal is located on the banks of River Yamuna in Agra
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                    <div class="price"> ₹1000.00 <span>₹1200.00</span> </div>
                    <a href="book.html" class="btn">book now</a>
                </div>
            </div>




        </div>

    </section>

    <section class="footer" id="footer">
        <div class="box-container">
          <div class="box" >
            <p>
              PLAN YOUR HOLIDAYS WITH OUR ASSISTANCE,
              JUST FILL IN YOUR DETAILS.
            </p>
            <div class="share">
              <a href="mailto: nikhil.km20@iiits.in" class="fab fa-facebook-f"></a>
              <a href="https://www.instagram.com/n_k_i_l_9985/" class="fab fa-twitter"></a>
              <a href="https://www.instagram.com/n_k_i_l_9985/" class="fab fa-instagram"></a>
              <a href="https://www.instagram.com/n_k_i_l_9985/" class="fab fa-linkedin"></a>
            </div>
          </div>
    
          <div class="box" >
            <h3>quick links</h3>
            <a href="#home" class="links">
              <i class="fas fa-arrow-right"></i> home
            </a>
            <a href="#about" class="links">
              <i class="fas fa-arrow-right"></i> about
            </a>
            <a href="#services" class="links">
              <i class="fas fa-arrow-right"></i> services
            </a>
            <a href="#gallery" class="links">
              <i class="fas fa-arrow-right"></i> gallery
            </a>
          </div>
    
          <div class="box">
            <h3>contact info</h3>
            <p><i class="fas fa-map"></i> indian institute of information technology sricity, andra pradesh</p>
            <p><i class="fas fa-phone"></i> +91-93987 17554</p>
            <p><i class="fas fa-envelope"></i> packyourbag@gmail.com </p> 
            <p><i class="fas fa-clock"></i> 7:00am - 10:00pm</p>
          </div>
    
          <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <form action="">
              <input
                type="email"
                name=""
                placeholder="enter your email"
                class="email"
                id=""
              />
              <input type="submit" value="subscribe" class="btn" />
            </form>
          </div>
        </div>
      </section>
    
      <div class="credit">
        Copyright © 2022 Created By <span>IIITS STUDENTS</span> | all rights reserved !!
      </div>
    
      <!-- footer section ends -->
</body>

</html>