<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>
    <!-- Header Section Ends here... -->

    <br><br><br><br><br><br>
    <h1 style="font-size: 50px; text-align: center; margin-top: 50%;">This is for profile of user</h1>
    <br><br><br><br>

    <%- include('footer'); %>
    <!-- footer section ends -->
</body>
</html>