<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/placepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/area.css">
    <link rel="icon" href="img/images/fav1.png">

    <script src="js\script.js"></script>
</head>

<body>
    <div class="arrow" id="arrow">
        <a href="#packages"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>

    <!-- Header Section Starts here... -->
    <%- include('navbar'); %>

        <section class="packages" id="packages">

            <h1 class="heading">
                <span>w</span>
                <span>i</span>
                <span>n</span>
                <span>t</span>
                <span>e</span>
                <span>r</span>
            </h1>

            <div class="box-container">

                <div class="box">
                    <img src="img/places/winter/Levi.jpg" alt=" Levi">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Levi </h3>
                        <p>The first thing you will notice when you arrive in Levi or anywhere in Finland, it’s that the
                            daytime and nighttime is different from the rest of the world.</p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d1" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/winter/Gulmarg Jammu & Kashmir.jpg" alt=" Gulmarg Jammu & Kashmir">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Gulmarg Jammu & Kashmir </h3>
                        <p>Gulmarg is a paradise for skiers around the globe. With amazing ski slopes and perfect
                            conditions
                            for skiing, Gulmarg attracts beginner and professional skiers both.
                        </p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d2" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/winter/Auli - The Secret Orchard.jpg" alt=" Auli - The Secret Orchard">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Auli - The Secret Orchard </h3>
                        <p>Apple orchards, beautiful old oaks, and staggering views of Himayalas make Auli a startling
                            destination to spend winters in India.</p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d3" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/winter/sonamarg.jpg" alt=" Sonamarg">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Sonamarg </h3>
                        <p>Glaciers, frozen lakes and snow carpets rolled out till the horizon, Sonamarg, literally
                            translating to 'The Meadow of Gold', is a snow paradise in winters.</p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d4" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/winter/Patnitop.jpg" alt=" Patnitop">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Patnitop </h3>
                        <p>Located in the Udhampur district of Jammu and Kashmir, Patnitop is a hill resort nestled in
                            the
                            Shiwalik range of the Himalayas.</p>
                        <p></p>
                        <p></p>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d5" class="btn">See more</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/places/winter/Narkanda.jpg" alt=" Narkanda">
                    <div class="content">
                        <h3> <i class="fas fa-map-marker-alt"></i> Narkanda </h3>
                        <p>Not located very far from the famous hill station Shimla, Narkanda is the place to go if you
                            aren't looking for anything extreme but to simply enjoy skiing, hill station ambience and
                            views.
                        </p>

                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <a href="#d6" class="btn">See more</a>
                    </div>
                </div>
            </div>

        </section>


        <section class="d1" id="d1">
            <h3>HOTELS NEAR Levi</h3><br>
            <p>Levi is a fell located in Finnish Lapland, and the largest ski resort in Finland.[1] The resort is
                located in the village of Sirkka, Kittilä municipality and is served by Kittilä Airport and Kolari
                railway station. At a latitude of 67.8° north, it is located approximately 170 km (110 mi) north of the
                Arctic Circle.

                The peak of the Levi fell is at an elevation of 531 metres (1,742 ft) above sea level. There are 43 ski
                slopes (17 of which are floodlit) and 27 ski lifts in Levi. Ascending the fell are 2 gondolas, 1
                chairlift, 14 T-bar lifts, 5 stick lifts, 4 rope tows, and 1 magic carpet for children. Levi is one of
                two locations of gondola lifts in Finland, and has been chosen as the best domestic skiing resort in
                Finland four times
            </p>
            <br>
            <button onclick="show('read1')" class="btn1">Show</button>
            <div class="read" id="read1">
                <div class="box-container">

                    <div class="box">
                        <img src="img/places/winter/Levi.jpg" alt=" Levi">
                        <div class="content">
                            <h1 class="hotel">Golden Crown - Levin Iglut</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Harjatie 4, 99130 Levi, Finland </h3>
                            <p>
                                Offering fully insulated and heated glass igloos, Golden Crown - Levin Iglut provides a
                                peaceful retreat atop Utsuvaara Fell, in Finnish Lapland. Levi Ski Resort is 9 km away.
                                Parking is free.
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a href="#d1" class="btn">See more</a>
                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/winter/Gulmarg Jammu & Kashmir.jpg" alt=" Gulmarg Jammu & Kashmir">
                        <div class="content">
                            <h1 class="hotel">Hotel Levi Panorama & Levi Chalets</h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Tunturitie 205, 99130 Levi, Finland</h3>
                            <p>
                                Located on the mountainside of Levi Fell, next to the Express Gondola Lift, this modern
                                hotel offers ski-in ski-out accommodation. The spacious rooms feature free Wi-Fi,
                                flat-screen TVs and tea/coffee makers
                            </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a href="#d2" class="btn">See more</a>
                        </div>
                    </div>

                    <div class="box">
                        <img src="img/places/winter/Auli - The Secret Orchard.jpg" alt=" Auli - The Secret Orchard">
                        <div class="content">
                            <h1 class="hotel">Resort Levi Northern Lights Huts </h1>
                            <h3><i class="fas fa-map-marker-alt"></i> Isotaalontie 285, 99130 Levi, Finland</h3>
                            <p>
                                Northern Lights Huts is located on an old reindeer farm which has been owned and run by
                                the same family for over 170 years. </p>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a href="#d3" class="btn">See more</a>
                        </div>
                    </div>

                    
                </div>
            </section>

                <section class="d2" id="d2">
                    <h3>HOTELS NEAR Gulmarg Jammu & Kashmir</h3><br>
                    <p>Yousuf Shah Chak, who ruled Kashmir from 1579 to 1586, frequented the place with his queen Habba
                        Khatoon and renamed it 'Gulmarg' ("meadow of flowers").[12][13] Wild flowers of 21 different
                        varieties were collected by the Mughal emperor Jahangir for his gardens in Gulmarg.[12][14] In
                        the 19th century, British civil servants started using Gulmarg as a retreat to escape summers in
                        North Indian plains. Hunting and golfing were their favorite pastime and three golf courses were
                        established in Gulmarg including one exclusively for women.[15][14] One of the golf courses
                        survives and at an altitude of 2,650 metres (8,690 ft) is the world's highest golf course.[15]
                        In 1927, British established a ski club in Gulmarg and two annual ski events were hosted one
                        each during Christmas and Easter.[16][17] Central Asian explorer Aurel Stein also visited
                        Gulmarg during this period.[13]

                        After the end of British rule in India, Gulmarg became a part of the independent princely state
                        of Kashmir and Jammu. Pakistan planned an invasion of the state called Operation Gulmarg
                    </p>
                    <br>
                    <button onclick="show('read2')" class="btn1">Show</button>
                    <div class="read" id="read2">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Shaw Inn by Stay Pattern
                                    </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Gulmarg, 193403 Gulmarg, India</h3>
                                    <p>
                                        Shaw Inn by Stay Pattern has a restaurant, shared lounge, a garden and
                                        ski-to-door access in Gulmarg. With free WiFi, this 4-star hotel offers a ski
                                        pass sales point and an ATM. The accommodation features room service, a kids'
                                        club and currency exchange for guests.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">The Khyber Himalayan Resort & Spa</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i>Pinnacle Site, near Gandola , 193403
                                        Gulmarg, India </h3>
                                    <p>
                                        The Khyber Himalayan Resort & Spa offers luxurious accommodation with views of
                                        the Affarwat peaks of the Pir Panjal Mountain Range in the Himalayas.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Hotel Signature</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> GULMARG ROAD (TANGMARG), 193123 Gulmarg,
                                        India</h3>
                                    <p>
                                        Featuring free WiFi, Hotel Signature offers accommodation in Tangmarg, 12 km
                                        from Gulmarg, 2.7 km from g2 - g3 line. The hotel has a children's playground
                                        and views of the mountain
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d3" id="d3">
                    <h3>HOTELS NEAR Auli - The Secret Orchard</h3><br>
                    <p>Auli is an enticing hill station in Uttarkhand on the way to Badrinath. Its snow-capped
                        mountains, deodar and oak forests, and apple orchards have given it a reputation of a
                        travellers paradise. It is also known as one of Indias best skiing destinations. Asias
                        longest cable car (4km long) is also in Auli (Gondola).Also Read - Video: Massive Landslide in
                        Uttarakhand's Rudraprayag, Disaster Management Teams on Spot | WATCH

                        The best time to visit Auli is during March and April. This is when the weather is pleasant as
                        compared to most hot places in India. It is also the best time for sight-seeing and adventure
                        activities like skiing and paragliding
                    </p>
                    <br>
                    <button onclick="show('read3')" class="btn1">Show</button>
                    <div class="read" id="read3">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Snow Mount Hotel Auli</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> army road, Auli, Auli, India, 246443 </h3>
                                    <p>
                                        Take advantage of a wealth of unrivaled services and amenities at Snow Mount
                                        Hotel Auli. Your explorations of Auli can be assisted with taxi and car hire
                                        services available. Parking is provided free
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Casa Himalaya, Auli</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> M&SI ITBP Road, Auli (15 km from nearest
                                        Town Joshimath), Auli, Uttarakhand, Auli, Auli, India, 246443 -</h3>
                                    <p>
                                        Casa Himalaya, Auli is set in Joshīmath, in the Auli Ski Resort district. Among
                                        the facilities of this property are a restaurant, room service and a shared
                                        lounge, along with free WiFi throughout the property
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Clifftop Club</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Joshi Math,Distt. Chamoli, Joshimath</h3>
                                    <p>
                                        Clifftop Club offers numerous on-site facilities to satisfy even the most
                                        discerning guest. Free internet access provided within the hotel keeps you
                                        connected throughout your sta
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d4" id="d4">
                    <h3>HOTELS IN Sonamarg</h3><br>
                    <p>Sonamarg, which means ‘meadow of gold’ has, as its backdrop, snowy mountains against a cerulean
                        sky. The Sindh meanders along here and abounds with trout and mahseer, snow trout can be caught
                        in the main river. In late April when Sonamarg is open for road transport, the visitors can have
                        access to snow which is furnished all over like a white carpet. Private vehicles are not
                        allowed. Visitors have to hire taxi and it is controlled by taxi mafia. Ponies can be hired for
                        the trip up to Thajiwas glacier a major attraction during the summer months.

                        The climate of Sonamarg is very bracing; but the rainfall is frequent though not heavy, except
                        for two or three days at a time in July and August with fine spell in between. From Sonamarg,
                        trekking routes lead to the Himalayan lakes of Vishansar Lake, Krishansar Lake, Gangabal Lake
                        and Gadsar Lake, stocked with Snowtrout and Brown trout and Satsar, glacier-fed and surrounded
                        by banks of alpine flowers.
                    </p>
                    <br>
                    <button onclick="show('read4')" class="btn1">Show</button>
                    <div class="read" id="read4">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Hotel Village Walk </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Gadekol, 191203 Sonāmarg, India</h3>
                                    <p>
                                        Situated in Sonāmarg, 23 km from Amarnath Temple, Hotel Village Walk features
                                        accommodation with a restaurant, free private parking and a garden
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Hotel Akbar Sonamarg
                                    </h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Sonmarg, (District Ganderbal - 191201),
                                        Kashmir (</h3>
                                    <p>
                                        Located in Sonāmarg, 22 km from Amarnath Temple, Hotel Akbar Sonamarg provides
                                        accommodation with a restaurant, free private parking, a shared lounge and a
                                        garden.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">SPOT ON 48242 Hotel Diamond</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i>SPOT ON 48242 Hotel Diamond</h3>
                                    <p>
                                        The rooms at the hotel are fitted with a seating area, a TV with cable channels
                                        and a private bathroom with free toiletries and a bath or shower. All guest
                                        rooms have a wardrobe.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d5" id="d5">
                    <h3>HOTELS IN Patnitop</h3><br>
                    <p>Snowfall and avalanche in winter at Patnitop used to obstruct the Jammu-Srinagar National Highway
                        a few times every winter and causes long queues of vehicles, sometimes for days. These problems
                        were mitigated by the opening of the Dr. Syama Prasad Mookerjee Tunnel. At 9.2 km (6 mi), it is
                        India's longest road tunnel. It starts from about 2 km (1 mi) from Chenani town south of
                        Patnitop to Nashri village north of Patnitop, reducing the distance from Jammu to Srinagar by 31
                        km (19 mi) and bypassing Patnito
                        Skyview Patnitop is India's highest ropeway and the largest Indo-French collaboration in
                        mountain infrastructure development was built in a record time of 2.4 years under the
                        Public-Private Partnership (PPP) model. The ropeway started its commercial operations on July 20
                        ,2020
                    </p>
                    <br>
                    <button onclick="show('read5')" class="btn1">Show</button>
                    <div class="read" id="read5">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Vardaan Hotels - PatniTop</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i>Entry from Kassal Morh Near Naag Temple,
                                        PatniTop, 182142 Patnitop, India</h3>
                                    <p>
                                        Vardaan Hotels - PatniTop in Patnitop features a garden and a terrace. Among the
                                        facilities of this property are a restaurant, a 24-hour front desk and room
                                        service, along with free WiFi .
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Hotel Trinetara by Sonachi</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Kasil Morh, 182142 Patnitop, India </h3>
                                    <p>
                                        Hotel Trinetara by Sonachi features accommodation in Patnitop. This 3-star hotel
                                        offers a 24-hour front desk and room service.

                                        Katra is 39 km from the hotel, while Udhampur is 26 km from the property
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">One Earth Heritage</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> NH 1 A, Main Market, Near Prem Sweets Kud,
                                        182142 Patnitop,India</h3>
                                    <p>
                                        One Earth Heritage has a restaurant, bar, a shared lounge and garden in
                                        Patnitop. Boasting family rooms, this property also provides guests with a
                                        terrace.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d6" id="d6">
                    <h3>HOTELS NEAR Narkanda</h3><br>
                    <p>Narkanda is located at 31.27°N 77.45°E.[1] It has an average elevation of 2708 metres (8599
                        feet). The famous Hatu peak is 8 km from Narkanda. Kumarsain, which is 20 km from Narkanda, is
                        the nearest town and Narkanda comes under Kumarsain subdivision and tehsil. Kotgarh is 15 km
                        from Narkanda and known for apple orchards. Satyanand Stokes brought the apple to this place and
                        helped strengthen the economy of this area. Today Rs 3,000 Crore direct and indirect income is
                        generated through apple production. Presently apple growers are shifting to bring their farm
                        under cherry cultivation to fetch fast money in their pocket as holdings are marginalised d noue
                        to population factor. The grandson of Mr. Stokes is experimenting to develop new variety of
                        apple for better production.
                    </p>
                    <br>
                    <button onclick="show('read6')" class="btn1">Show</button>
                    <div class="read" id="read6">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Echor- Narkanda Cottages</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i>Echor, National Hwy 22 Matiana, Himachal
                                        Pradesh, 171212 Nārkanda, India </h3>
                                    <p>
                                        Boasting a garden, Echor- Narkanda Cottages is set in Nārkanda. Among the
                                        facilities of this property are a restaurant, a 24-hour front desk and room
                                        service, along with free WiFi. The hotel has family rooms.

                                        Guests at the hotel can enjoy a buffet breakfast.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Nesta Narkanda -Mountain Nest</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> Vill. Nanni ,On NH5, Narkanda Valley,500
                                        mtrs from khadu Cafe,Narkanda171213,India</h3>
                                    <p>
                                        Nesta Narkanda -Mountain Nest offers accommodation in Nārkanda. Among the
                                        facilities of this property are a restaurant, a 24-hour front desk and room
                                        service, along with free WiFi.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Aaramgah</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> National Highway 5 village- jogsha, post
                                        office- oddi, tehsil- kumarsain, India</h3>
                                    <p>
                                        With river views, Aaramgah is set in Nārkanda and has a restaurant and a shared
                                        kitchen. Both WiFi and private parking are available at the bed and breakfast
                                        free of charge.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section class="d6" id="d6">
                    <h3>HOTELS NEAR HODKA</h3><br>
                    <p>This Small Village In Andhra Pradesh Is Popular For Its Agriculture, Mangroves And The Prominent
                        Silk
                        Business. The People Are Involved In Various Facets Of Silk Saree Weaving. Enjoy The Grand Tour
                        Of The
                        Silk
                        Saree Making Process, The Warm Hospitality Of The People And The Many Temples That Dot This
                        Little
                        Village.
                    </p>
                    <br>
                    <button onclick="show('read6')" class="btn1">Show Hotels</button>
                    <div class="read" id="read6">
                        <div class="box-container">
                            <div class="box">
                                <img src="img/images/Gateway Hotel.webp" alt="Gateway Hotel" />
                                <div class="content">
                                    <h1 class="hotel">Gateway Hotel</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                                    <p>
                                        Located in the financial capital of Andhra Pradesh, The Gateway
                                        Hotel M G Road offers a rooftop swimming pool and modern rooms
                                        with a flat-screen TV.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price">₹1200.00 <span>₹1900.00</span></div>
                                    <a href="book" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Novotel.webp" alt="Novotel" />
                                <div class="content">
                                    <h1 class="hotel">Novotel</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                                    <p>
                                        Novotel hotel Varun has a restaurant, outdoor swimming pool,
                                        a fitness centre and bar in Vijayawāda. With free WiFi, this
                                        5-star hotel offers a shared lounge and a concierge service.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price">₹2200.00 <span>₹2500.00</span></div>
                                    <a href="book" class="btn">Book</a>
                                </div>
                            </div>
                            <div class="box">
                                <img src="img/images/Taj Ganges.webp" alt="Taj Ganges" />
                                <div class="content">
                                    <h1 class="hotel">Taj Ganges</h1>
                                    <h3><i class="fas fa-map-marker-alt"></i> hotel</h3>
                                    <p>
                                        Spread over 40 acres of tropical gardens, Taj Ganges, Varanasi is a peaceful
                                        getaway in
                                        the
                                        ancient temple
                                        city of Varanasi. Offering an outdoor pool and a spa, it also has 24-hour room
                                        service.
                                    </p>
                                    <div class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <div class="price">₹4000.00 <span>₹4500.00</span></div>
                                    <a href="book" class="btn">Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include('footer'); %>

                    <!-- footer section ends -->
</body>

</html>